<link rel="stylesheet" type="text/css" href="/static/css/colourTable.css">
<table>
<tbody>
<tr class="header">
	<td>&nbsp;</td>
	{% for month_name in data.month_names_for_display %}
		{% if loop.first %}
			<td><a onclick="update_months({{data.start_month-data.month_count}},{{data.end_month-data.month_count}})">&laquo; Prev</a></td>
		{% elif loop.last %}
			<td><a onclick="update_months({{data.start_month+data.month_count}},{{data.end_month+data.month_count}})">Next &raquo;</a></td>
		{% else %}
			<td>&nbsp;</td>
		{% endif %}
	{% endfor %}
</tr>
<tr class="header">
	<th>Name</th>
	{% for month_name in data.month_names_for_display %}
	<th class="monthName">{{month_name}}</th>
	{% endfor %}
</tr>
{% for person in data.people %}
	<tr>
		<td><a href="/people/?person={{person.name}}">{{person.name}}</a></td>
		{% for val in person.value %}
			<td class="percentageCell colour{{val.colour_index}}">{{val.percent}}</td>
		{% endfor %}
	</tr>
{% endfor %}
</tbody>
</table>