<div style="width:400px; text-align:center">
<a onclick="reloadGraph({{ month_offset-1 }})">&lt; Prev</a>
&nbsp;&nbsp;&nbsp;{{ month_display }}&nbsp;&nbsp;&nbsp;
<a onclick="reloadGraph({{ month_offset+1 }})">Next &gt;</a><br/>
</div>
<div id="treemap_div" style="width: 700px; height: 500px;"><center><img src="/static/img/ajax-loader.gif"/></center></div>
<br/>Click on an area to drill-down. Right-click to go back up a level.
<br/>Level one is grouped by Domain, and level 2 by Service Type.
<script type="text/javascript">
	$(document).ready(function () {
	    function mapLoaded() {
	    	drawChart();
	    }
	    google.load("visualization", "1", {packages:["treemap"], "callback" : mapLoaded});
	});
  
  function drawChart() {
    // Create and populate the data table.
    var data = google.visualization.arrayToDataTable({{treeMap|safe}});
    // Create and draw the visualization.
    var tree = new google.visualization.TreeMap(document.getElementById('treemap_div'));
    tree.draw(data, { minColor: '#efefef', midColor: '#efefef', maxColor: '#efefef', headerHeight: 15, fontColor: 'black', generateTooltip: showFullTooltip});
    
    function showFullTooltip(row, size, value) {
  	  return '<div style="background:#fff; padding:10px; border-style:solid">' +
               '<span>' + data.getValue(row, 0) + '<br><b>Total mandays this month:</b> ' + size
               + '<br>' + data.getValue(row, 4)
               + '</span></div>';
    }
  }
  
</script>