{% extends "panel-base43.html" %}
{% import 'form.html' as form %}
{% block content %}
			<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
			<!-- 
			<script type="text/javascript" src="/static/js/pivot/pivot.min.js"></script>
			<script type="text/javascript" src="/static/js/pivot/jquery.pivot.js"></script>
			<script type="text/javascript" src="/static/js/pivot/workPackagesPivot.js"></script>
			 -->
			 
			<link rel="stylesheet" href="/static/css/c3.min.css" />
			<link rel="stylesheet" href="/static/css/pivot.css" />
			<script type="text/javascript" src="/static/js/Chart.min.js"></script>
			<script type="text/javascript" src="/static/js/pivot2/d3.min.js"></script>
			<script type="text/javascript" src="/static/js/pivot2/c3.min.js"></script>
			<script type="text/javascript" src="/static/js/pivot2/pivot.min.js"></script>
			<script type="text/javascript" src="/static/js/pivot2/export_renderers.min.js"></script>
			
			
			<!-- <link rel="stylesheet" href="/static/css/pivot.css" type="text/css" /> -->


			<div class="section-container tabs" data-section="tabs">
				<section>
					<p class="title" data-section-title><a href="#">Summary</a></p>
					<div class="content" data-section-content>
						<h3>Summary</h3>
						<div class="row">
							<div class="columns">
								<div class="panel">
									Group By: <select id="group" name="group" class="button" onchange="reloadDirectorateSummary(this.value)">
										<option value="areaOfWork">Domain</option>
										<option value="serviceType">Service Type</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="columns">
								<div class="panel">
									<div id="directorate_table">
										<center><img src="/static/img/ajax-loader.gif"/></center>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<p class="title" data-section-title><a href="#">Data Quality</a></p>
					<div class="content" data-section-content>
						<h3>Data Quality (Active Work Packages)</h3>
						<div class="row">
							<div class="columns">
								<div class="panel">
									<div id="dq_table">
										<center><img src="/static/img/ajax-loader.gif"/></center>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<p class="title" data-section-title><a href="#">Pivot Table (Effort)</a></p>
					<div class="content" data-section-content>
						<h3>Pivot Table (Recorded Effort)</h3>
						<div class="row">
							<div class="columns">
								<div id="pivot">
									<center><img src="/static/img/ajax-loader.gif"/></center>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<p class="title" data-section-title><a href="#">TreeMap</a></p>
					<div class="content" data-section-content>
						<div class="row">
							<div class="columns">
								<h3>Allocated Man-Days</h3>
								<div id="graph1">
										<center><img src="/static/img/ajax-loader.gif"/></center>
									</div>
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<p class="title" data-section-title><a href="#">Availability</a></p>
					<div class="content" data-section-content>
						<h3>Individual Allocations (Percent)</h3>
						<div class="row">
							<div class="columns">
								<div class="panel">
									<div id="allocations_colour_table">
										<center><img src="/static/img/ajax-loader.gif"/></center>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<p class="title" data-section-title><a href="#programmes">Programmes</a></p>
					<div class="content" data-section-content>
						<h3>Programmes</h3>
						<div class="row">
							<div class="columns">
								<div class="panel">
									<div id="programmes_tab">
										<center><img src="/static/img/ajax-loader.gif"/></center>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
					
			</div>
			
			<!-- Load the pivot table data -->
			<script type="text/javascript" src="/static/js/pivot2/workPackagesPivot.js"></script>
			
			<script type="text/javascript">
			
			$(document).ready(function() {
				$("#directorate_table").load("/reports/directorate/");
				$("#dq_table").load("/reports/dq/");
				$("#allocations_colour_table").load("/reports/allocation_table/?start_month=-1&end_month=9");
				$("#programmes_tab").load("/reports/programmes/", function() {
					$('#programme_table').DataTable({
						"bPaginate": false
					});
				});
				loadGraph(0);
		    });
			
			function update_months(start_month, end_month) {
				$("#allocations_colour_table").load("/reports/allocation_table/?start_month=" + start_month + "&end_month=" + end_month);
			}
			
			function reloadDirectorateSummary(group_field) {
				$("#directorate_table").html("<center><img src='/static/img/ajax-loader.gif'/></center>");
				$("#directorate_table").load("/reports/directorate/?group_field=" + group_field);
			}
			
			function reloadGraph(offset) {
				$("#graph1").load("/reports/graph/?month="+offset);
			}
			
			function loadGraph(offset) {
				reloadGraph(offset);
				// Re-draw the treemap to force it to render correctly..
				$("#graph1").redraw();
			}
			
			$.fn.redraw = function(){
			  $(this).each(function(){
			    var redraw = this.offsetHeight;
			  });
			};
			</script>
{% endblock %}
