{% block content %}
<table class="responsive">
<tbody>
	<tr>
		<th>&nbsp;</th>
		<th colspan=2>Work Packages</th>
		<th colspan=5>Work Allocations</th>
	</tr>
	<tr>
		<th>Domain</th>
		<th>Total Active</th>
		<th>Missing Dates / Effort</th>
		<th>Past end date</th>
		<th>Before start date</th>
		<th>Unallocated</th>
		<th>No programme</th>
		<th>No activity</th>
		<th>No activity (this month)</th>
		<th>Over allocated</th>
		<th>Under allocated</th>
		<th>Over allocated (this month)</th>
		<th>Under allocated (this month)</th>
	</tr>
	{% for portfolio in result.total_active %}
	<tr>
		<td>{{portfolio}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}">{{result.total_active[portfolio]}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=missing_dates">{{result.missing_fields[portfolio]}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=past_end_date">{{result.active_past_end_date[portfolio]}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=before_start_date">{{result.active_before_start_date[portfolio]}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=unallocated">{{result.unallocated[portfolio]}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=no_programme">{{result.no_programme[portfolio]}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=no_activity">{{result.no_activity[portfolio]}}</a></td>
		<td>{{result.no_activity_this_month[portfolio]}}</td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=over_allocated">{{result.over_allocated[portfolio]}}</a></td>
		<td><a href="/workpackages/?status=Active&portfolio={{portfolio}}&dq_filter=under_allocated">{{result.under_allocated[portfolio]}}</a></td>
		<td>{{result.over_allocated_this_month[portfolio]}}</td>
		<td>{{result.under_allocated_this_month[portfolio]}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
