{% block content %}
<table id="programme_table" class="display">
<thead>
	<tr class="header">
		<th width="82px">Programme Code</th>
		<th width="250px">Name</th>
		<th>Description</th>
		<th width="70px">Status</th>
	</tr>
</thead>
<tbody>
{% for programme in data %}
	{% if programme.status=="closed" %}
	<tr class="closed">
	{% else %}
	<tr>
	{% endif %}
		<td width="82px">{{programme.code}}</td>
		<td width="300px">{{programme.name}}</td>
		<td>{{programme.description}}</td>
		<td width="70px">{{programme.status}}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}