{% set lastAreaOfWork = "Unknown" %}
{% set lastPortfolio = "Unknown" %}
{% set portfolio = "Unknown" %}
{% set portfolioOwner = "Unknown" %}
{% set section_index = 0 %}
{% if list|length > 0 %}
	{% set portfolio = list[0].portfolio %}
	{% set portfolioOwner = list[0].portfolioOwner %}
{% endif %}
<div id="wpUpdates_table" month_number="{{ month_number }}" month_name="{{month_name}}">
	<div style="float:left;padding-left:15px;width:20%;">
		<p>Pick a report
		<select style="width:80%;" id="report_month_select">
		{% for month in months %}
			<option value="{{ month.month }}" {{ month.selected }}>{{ month.display }}</option>
		{% endfor %}
		</select>
		</p>
		<div id="reports_loading"></div>
		<p><input type="button" class="small button" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/reports/csv/status/{{ month_number }}/')" value="Report CSV" /></p>
	</div>
	<div style="float:left;width:78%;height:500px;overflow-y:scroll;border:1px solid #ccc;" id="thisMonthsUpdates">
		<h3 id="wpName">Status report entries for {{ month_name_display }}</h3>
		<table width="100%" class="report_table">
		<tbody>
			<tr class="header">
				<th width="30%">Portfolio / Domain / Workpackage Name</th>
				<th>Update</th>
				<th width="10%">Include</th>
			</tr>
			{% for item in list %}
				<!-- Portfolio -->
				{% if item.portfolio != lastPortfolio %}
					{% if item.portfolio == "" %}
					
					<tr class="accordion-{{ section_index }}">
						<td colspan="3" class="portfolio"><strong>Unknown</strong></td>
					</tr>	
					{% else %}
						{% set section_index = section_index + 1 %}
					<tr class="accordion-{{ section_index }}">
						<td colspan="3" class="portfolio"><strong>{{item.portfolio}}</strong></td>
					</tr>	
					{% endif %}
					{% set lastPortfolio = item.portfolio %}
				{% endif %}
				
				<!-- Area of work -->			
				{% if item.areaOfWork != lastAreaOfWork %}
					{% if not item.areaOfWork or item.areaOfWork == "" %}
					<tr class="itemrow-{{ section_index }}">
						<td colspan="3"><strong>Unknown</strong></td>
					</tr>	
					{% else %}
					<tr class="itemrow-{{ section_index }}">
						<td colspan="3"><strong>{{item.areaOfWork}}</strong></td>
					</tr>	
					{% endif %}
					{% set lastAreaOfWork = item.areaOfWork %}
				{% endif %}
				{% set latest_update = "" %}
				{% if item.latest_update['update'] %}
					{% set latest_update = item.latest_update['update'] %}
					{% set latest_update_date = item.latest_update['date'] %}
				{% endif %}
				{% set month_update = "" %}
				{% if item.month_update['update'] %}
					{% set month_update = item.month_update['update'] %}
					{% set month_update_date = item.month_update['date'] %}
				{% endif %}
				<!--  Latest Update: {{latest_update}} -->
				<!--   Month Update: {{month_update}} -->
				<tr class="itemrow-{{ section_index }}">
					<td><a href="/workpackages/{{ item.id }}">{{ item.name }}</a></td>
					<td>
						{% if not month_update == "" %}
							<span class="statusupdatedate">{{ month_update_date.strftime('%d/%m/%Y') }}: </span> 
						{% elif not latest_update == "" %}
							<span class="statusupdatedate">{{ latest_update_date.strftime('%d/%m/%Y') }}: </span> 
						{% endif %}
						<a href="#" class="editable editable-click"
											id="status_update_monthly_report_{{item.id}}" onclick="openUpdatesModal('{{item.id}}')">
							{% if not month_update == "" %}
								{{ month_update }}
							{% elif not latest_update == "" %}
								{{ latest_update }}
							{% else %}
								None
							{% endif %}
						</a>
					</td>
					<td>
					<span id="status_update_monthly_report_checkbox_{{item.id}}">
					{% if not month_update == "" %}
					  <input type="checkbox" name="{{item.id}}_included" id="{{item.id}}_included" value="included" 
								onclick="toggle_included('{{item.id}}','{{month_name}}',this.checked)" checked />
					{% elif not latest_update == "" %}
					  <input type="checkbox" name="{{item.id}}_included" id="{{item.id}}_included" value="included" 
								onclick="toggle_included('{{item.id}}','{{month_name}}',this.checked)" />
					{% else %}
						&nbsp;
					{% endif %}
					</span>
					</td>
							
				</tr>
			{% endfor %}
		</tbody>
		</table>
		<script language="javascript">
		// Based on modified code from here: http://stackoverflow.com/questions/9026867/jquery-accordion-effect-on-a-table
		
		$( "#report_month_select" ).change(function() {
			refresh_status_report_table($( this ).val());
		});
		
		function toggle_included(id, month, checked) {
			var action="remove";
			if (checked)
				action="add";
			$.post( "/reports/includeinreport", { workpackageid: id, month: month, action: action })
			  .done(function( data ) {
				  // If we are unchecking it, update the value to make sure it is the latest update
			      if (action=="remove") {
			    	  $('#status_update_monthly_report_'+id).html(data);
				  }
				  //alert( "Result: " + data );
			  });
		}
		
		$(function() {
			  //$(".report_table tr:not(.accordion)").hide();
			  //$(".report_table tr:first-child").show();
			  
			  {% set lastPortfolio = "Unknown" %}
			  {% set section_index = 0 %}
			  {% for item in list %}
			    {% if item.portfolio != lastPortfolio %}
			      {% set lastPortfolio = item.portfolio %}
			      {% if item.portfolio == "" %}
			        // Unknown portfolio
			      {% else %}
			        {% set section_index = section_index + 1 %}
			        // All other portfolios
			      {% endif %}
			        $(".report_table tr.accordion-{{ section_index }}").click(function(){
			            $(this).nextAll("tr.itemrow-{{ section_index }}").fadeToggle(500);
			            $(this).toggleClass("closed");
			        }).eq(0).trigger('click');
			    {% endif %}
			  {% endfor %}
			  
			});
		</script>
	</div>
</div>
