{% block content %}
<table class="responsive">
<tbody>
	<tr>
		<th colspan="5">Work Packages</th>
		<th class="lastMonth" colspan="5">Last Month</th>
		<th class="thisMonth" colspan="5">This Month</th>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<th>WPs Active</th>
		<th>WPs Defining</th>
		<th>WPs On hold</th>
		<th>Missing Dates/Effort</th>
		<th class="lastMonth">WPs Starting</th>
		<th class="lastMonth">WPs Ending</th>
		<th class="lastMonth">WPs Closed</th>
		<th class="lastMonth">Mandays planned</th>
		<th class="lastMonth">Mandays actual</th>
		<th class="thisMonth">WPs Starting</th>
		<th class="thisMonth">WPs Ending</th>
		<th class="thisMonth">WPs Closed</th>
		<th class="thisMonth">Mandays planned</th>
		<th class="thisMonth">Mandays actual</th>
	</tr>
	{% for group_value in result.total_active %}
	<tr>
		<td><a href="/workpackages/?{{groupField}}={{group_value}}&status=Active">{{group_value}}</a></td>
		<td><a href="/workpackages/?status=Active&{{groupField}}={{group_value}}&status=Active">{{result.total_active[group_value]}}</a></td>
		<td><a href="/workpackages/?status=Defining&{{groupField}}={{group_value}}&status=Active">{{result.total_defining[group_value]}}</a></td>
		<td><a href="/workpackages/?status=On Hold&{{groupField}}={{group_value}}&status=Active">{{result.total_on_hold[group_value]}}</a></td>
		<td><a href="/workpackages/?{{groupField}}={{group_value}}&dq_filter=missing_dates&status=Active">{{result.missing_fields[group_value]}}</a></td>
		<td class="lastMonth">{{result.started_last_month[group_value]}}</td>
		<td class="lastMonth">{{result.ended_last_month[group_value]}}</td>
		<td class="lastMonth">{{result.closed_last_month[group_value]}}</td>
		<td class="lastMonth">{{result.fte_planned_last_month[group_value]}}</td>
		<td class="lastMonth">{{result.fte_actual_last_month[group_value]}}</td>
		<td class="thisMonth">{{result.started_this_month[group_value]}}</td>
		<td class="thisMonth">{{result.ended_this_month[group_value]}}</td>
		<td class="thisMonth">{{result.closed_this_month[group_value]}}</td>
		<td class="thisMonth">{{result.fte_planned_this_month[group_value]}}</td>
		<td class="thisMonth">{{result.fte_actual_this_month[group_value]}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
