{% extends "panel-base43.html" %}
{% import 'form.html' as form %}
{% block content %}
<script>

	$(document).ready(function(){
		/*var end_month = {{end_month}};
		if (document.documentElement.clientWidth < 767)
			end_month = {{end_month}}-2;*/
		$("#person_allocations_table").load("/allocations/view/?person={{user.name|urlencode()}}&start_month={{start_month}}&end_month={{end_month}}&table_id=person_allocations");
		$("#closed_allocations_table").load("/allocations/view/?person={{user.name|urlencode()}}&start_month={{start_month}}&end_month={{end_month}}&table_id=person_closed_allocations&status=Closed");
	});
	function update_months(start_month, end_month) {
		$("#person_allocations_table").load("/allocations/view/?person={{user.name|urlencode()}}&start_month=" + start_month + "&end_month=" + end_month + "&table_id=person_allocations");
		$("#closed_allocations_table").load("/allocations/view/?person={{user.name|urlencode()}}&start_month=" + start_month + "&end_month=" + end_month + "&table_id=person_closed_allocations&status=Closed");
	}
</script>
<form action="/people" method="GET">
<div class="section-container tabs" data-section="tabs">
	<section>
		<p class="title" data-section-title><a href="#">Current</a></p>
		<div class="content" data-section-content>
			<h3>{{ user_name }} </h3>
			<div class="row">
				<div class="large-6 columns">
					<img src="{{ gravurl }}" />
					<p>Read more about {{ user_name }} on <a href="http://connect2/Sites/searchcenter/Pages/peopleresults.aspx?k={{ user_name }}&s=People">Connect2</a></p>
				</div>
				<div class="large-6 columns">
					<h4>People</h4>
					<p>{{ form.dropdown('person', user_name, people, class='small button') }}
					{{ form.input('submit', value='Select', type='submit', class='small button') }}	
					</p>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<p><strong>Allocations:</strong>
					<div id="person_allocations_table"></div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#">Previous</a></p>
		<div class="content" data-section-content>
			<h3>{{ user_name }} </h3>
			<div class="row">
				<div class="large-10 columns">
					<div class="panel">
						<p><strong>Previous (Closed) Assignments</strong>
						<div id="closed_allocations_table"></div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
</form>

	
{% endblock %}
