<table class="responsive" id="{{table_id}}">
<tbody>
<tr class="header">
	<th>Name</th>
	{% if type=="person" %}
	<th width='90'>WP Status</th>
	<th>My Status</th>
	{% else %}
	<th>Person Status</th>
	{% endif %}
	
	<th>Total</th>
	{% for month_name in month_names_for_display %}
		{% if loop.first %}
			<th><a onclick="update_months({{start_month-month_count}},{{end_month-month_count}})">&laquo;</a></th><th class="monthName">{{month_name}}</th>
		{% elif loop.last %}
			<th class="monthName">{{month_name}}</th><th><a onclick="update_months({{start_month+month_count}},{{end_month+month_count}})">&raquo;</a></th>
		{% else %}
			<th class="monthName">{{month_name}}</th>
		{% endif %}
	{% endfor %}
	{% if type=="person" %}
	<th>Update</th>
	{% endif %}
</tr>
{% if type=="person" %}
{%		set collection = assignments %}
{% else %}
{%		set collection = assignments[0].allocations %}
{% endif %}

{% set itemNumber = 0 %}
{% for item in collection %}
{% 	 set itemNumber = itemNumber + 1 %}
{% 	 if type=="person" %}
{%		set status = item['status'] %}
{%		set person_status = item.allocations[0]['personStatus'] %}
{%		set urlPrefix = "/workpackages/" %}
{%		set urlValue = item.uuid %}
{%		set allocationCollection = item.allocations[0]['months'] %}
{%		set div_id = item.uuid %}
{%		set total = item.allocations[0]['total'] %}
{% 		set monthsWithData = item.allocations[0]['monthsWithData'] %}
{%   else %}
{%		set status = item['status'] %}
{%		set person_status = item['personStatus'] %}
{%		set urlPrefix = "/people/" %}
{%		set urlValue = item.name|urlencode() %}
{%		set div_id = item.name|replace(" ", "-") %}
{%		set allocationCollection = item['months'] %}
{%		set total = item['total'] %}
{% 		set monthsWithData = item['monthsWithData'] %}
{%   endif %}
<tr>
	<th><a href="{{urlPrefix}}{{urlValue}}">{{ item.name }}</a></th>
{% if type=="person" %}
	<td>
	{% if item['warning'] %}
	<span data-tooltip class="has-tip" title="{{ item['warning'] }}"><img src="/static/img/warning.png"/></span>
	{% endif %}
	{{ status }}<!-- Work Package Status -->
	</td>
{%  endif %}	
{% 	if status=="Active" or type=="workpackage" %}
	<td><a href="#" id="personAllocationStatus{{itemNumber}}" data-type="select" data-pk="1" data-url="/allocations/save_person_status/" data-original-title="person_status" data-showbuttons="false">{{ person_status }}</a></td>
{%	else %}
	<td>&nbsp;</td>
{%  endif %}
	<td class="totalValue"><span data-tooltip class="has-tip" title="Months with allocations:{% for monthWithData in monthsWithData %} {{ monthWithData }}{% endfor %}">{{ total }}</span></td>
	<td>&nbsp;</td>
	{% set index = 0 %}
	{% for val in allocationCollection %}
	<td class="monthAllocationValue">
	<a class="editable editable-click {% if val=="" or val=="0" %} editable-empty{% endif %}"
				href="#" id="month{{index}}-{{div_id}}" data-type="text" data-pk="1"
				data-url="/allocations/saveallocation/" data-original-title="% this period">
				{% if val=="" %}0{% else %}{{val}}{% endif %}</a></td>
		{% set index = index + 1 %}
	{% endfor %}
	<!-- Remove person button -->
	{% 	 if type=="person" %}
	<td>&nbsp;</td>
	{% else %}
	<td><a href="javascript:removeAllocation('{{assignments[0].uuid}}','{{ item.name }}');" class="small button">X</a></td>
	{% endif %}

	<!-- Status update column -->
	{% 	 if type=="person" %}
	<td>
		<a href="#" class="editable editable-click {% if val=='None' %} editable-empty{% endif %}" onclick="openUpdatesModal('{{item.uuid}}')">
		{{item.latest_update['update']}}</a>
	</td>
	{%   endif %}

</tr>
{% endfor %}
<tr class="footer totalRow">
	<td>Total Mandays</td>
	{% if type=="person" %}
	<td>&nbsp;</td><!-- Work Package Status -->
	{%  endif %}
	<td>&nbsp;</td>
	<td class="grandTotal">&nbsp;</td>
	<td>&nbsp;</td>
{% for month_name in month_names_for_display %}
	<td class="totalCol"></td>
{% endfor %}
	<td>&nbsp;</td>
	
	<!-- Status update column -->
	{% 	 if type=="person" %}<td>&nbsp;</td>{%   endif %}
</tr>
<tr class="footer workingDaysRow">
	<th>Working Days</th>
	{% if type=="person" %}
	<td>&nbsp;</td><!-- Work Package Status -->
	{%  endif %}
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class="workingDays">&nbsp;</td>
{% for month_name in month_names_for_display %}
	<td class="workingDays"></td>
{% endfor %}
	<td>&nbsp;</td>
	
	<!-- Status update column -->
	{% 	 if type=="person" %}<td>&nbsp;</td>{%   endif %}
</tr>
<tr class="footer percentFTERow">
	<th>% FTE</th>
	{% if type=="person" %}
	<td>&nbsp;</td><!-- Work Package Status -->
	{%  endif %}
	<td>&nbsp;</td>
	<td class="percentfte">&nbsp;</td>
	<td>&nbsp;</td>
{% for month_name in month_names_for_display %}
	<td class="percentfte"></td>
{% endfor %}
	<td>&nbsp;</td>
	
	<!-- Status update column -->
	{% 	 if type=="person" %}<td>&nbsp;</td>{%   endif %}
</tr>
</tbody>
</table>
<script>
	// Opens the modal to show status updates for a specific work package
	function openUpdatesModal(workpackage_id) {
		$("#updateModal").empty();
		$("#updateModal").append( "<center><img src='/static/img/ajax-loader.gif'/></center><a class='close-reveal-modal'>&#215;</a>" );
		$('#updateModal').foundation('reveal', 'open');
		$("#updateModal").load("/workpackages/"+workpackage_id+"/status_updates/");
	}
	
	// Remove someone from the work package
	function removeAllocation(wp_id, person) {
		//alert('Remove allocation for '+person+' on wp:'+wp_id);
		$.post( "/allocations/remove/", { workpackageid: wp_id, user: person })
		  .done(function( data ) {
		    if (data != "Done") {
		    	$('#errorModalContent').text(data);
				$('#errorModal').foundation('reveal', 'open');
		    }
		    display_months();
		  });
	}
	
	//Recalculates the total row in the allocations
	function calculateTotals(tableID) {
		monthNameCells=$(tableID + " th.monthName");
		monthCount=monthNameCells.length;
		// Add the grand total first
		addGrandTotal(tableID, 3);
		// Now, calculate the totals for each month
		{% if type=="person" %}
		firstDataColumn=6
		{% else %}
		firstDataColumn=5
		{%  endif %}
		// Loop through the allocation columns
	    for (index=0; index<monthCount; index++) {
	    	monthName = monthNameCells.eq(index).html();
	    	addTotalAndMandaysForColumn(tableID, index+firstDataColumn, monthName);
	    }
	}
	
	function addGrandTotal(tableID, columnIndex) {
		totalCells=$(tableID + " td.totalValue");
		total = 0;
		totalCells.children().each(function() {
       		//each time we add the cell to the total
       		total += parseInt($(this).html());
       	});
		$(tableID + " td.grandTotal").text(total);
	}
	
	function addTotalAndMandaysForColumn(tableID, columnIndex, monthName) {
		dataRows=$(tableID + " tr:not('.footer, .header')");
		totalRow=$(tableID + " tr.totalRow");
		workingDaysRow=$(tableID + " tr.workingDaysRow");
		percentFTERow=$(tableID + " tr.percentFTERow");
		total = 0;
		dataRows.children("td:nth-child(" + columnIndex + ")").each(function() {
       		//each time we add the cell to the total
       		total += parseInt($(this).find(":first-child").html());
       	});
		totalRow.children("td:nth-child(" + columnIndex + ")").text(total);
		// Now add working days and percentage
		days = workingDaysInMonth(monthName)
        workingDaysRow.children("td:nth-child(" + columnIndex + ")").text(days);
		percentFTERow.children("td:nth-child(" + columnIndex + ")").text(Math.ceil(total/days*100) + "%");
	}

	calculateTotals("#{{table_id}}");
    

{% set itemNumber = 0 %}
{% for item in collection %}
{%   set itemNumber = itemNumber + 1 %}
{% 	 if type=="person" %}
{%		set allocationCollection = item.allocations[0]['months'] %}
{%		set personName = person %}
{%		set uuid = item.uuid %}
{%		set div_id = item.uuid %}
{%   else %}
{%		set allocationCollection = item['months'] %}
{%		set personName = item.name %}
{%		set uuid = assignments[0].uuid %}
{%		set div_id = item.name|replace(" ", "-") %}
{%   endif %}
	{% set index = 0 %}
	{% for month_name in month_names %}
		$('#month{{index}}-{{div_id}}').editable({
			params: { workpackageid : '{{ uuid }}', user:'{{personName}}', month:'{{month_name}}' },
			success: function(response, newValue) {
				$('#month{{index}}-{{div_id}}').text(newValue);    
				calculateTotals("#{{table_id}}{{status}}");
			}
		});
		{% set index = index + 1 %}
	{% endfor %}
	
	// Make person status editable
	$(function(){ $('#personAllocationStatus{{itemNumber}}').editable({
			params: { workpackageid : '{{ uuid }}',
					  user:'{{personName}}'},
			source: '/workpackages/lists/personAllocationStatus/'
		});
	});
{% endfor %}
</script>
