{% extends "panel-base43.html" %}
{% import 'form.html' as form %}
{% block content %}
<script>
	$(document).ready(function(){
	    $("#person_allocations_table").load("/allocations/view/?person={{name|urlencode()}}&start_month={{start_month}}&end_month={{end_month}}");
	    $("#portfolio_table").load("/reports/portfolio/{{portfolio|urlencode()}}/");
	    $("#directorate_table").load("/reports/directorate/");
	    $("#status_report_table").load("/reports/status/");
	});
	function refresh_allocations_table() {
		$("#person_allocations_table").load("/allocations/view/?person={{name|urlencode()}}&start_month={{start_month}}&end_month={{end_month}}");
	}
	function refresh_status_report_table_same_month() {
		if ( $( "#wpUpdates_table" ).length ) {
			month = $('#wpUpdates_table').attr('month_number')
			refresh_status_report_table(month);
		}
	}
	function refresh_status_report_table(month) {
		if ( $( "#wpUpdates_table" ).length ) {
			$('#reports_loading').html("<img src='/static/img/ajax-loader.gif'/>");
			$("#status_report_table").load("/reports/status/"+month+"/");
		}
	}
	function update_months(start_month, end_month) {
		$("#person_allocations_table").load("/allocations/view/?person={{name|urlencode()}}&start_month=" + start_month + "&end_month=" + end_month);
	}
	// Called when the status updates modal is closed
	function refresh_after_status_update_modal_closed(workpackage_id, newValue) {
		refresh_allocations_table();
		
		if( $('#'+workpackage_id+'_included').length ) {
			// The checkbox exists, so we had an update for this entry previously
			var isChecked = $('#'+workpackage_id+'_included').is(':checked');
			// If it was not checked, update the status update value in the table
			if (!isChecked) {
				$('#status_update_monthly_report_'+workpackage_id).html(newValue);
			}
		} else {
			// This is a new status update, so add a checkbox
			month_name = $('#wpUpdates_table').attr('month_name')
			var checkboxHtml = "<input type=\"checkbox\" name=\"" + workpackage_id +
										"_included\" value=\"included\" onclick=\"toggle_included('" + workpackage_id +
										"','" + month_name + "',this.checked)\" />"
			$('#status_update_monthly_report_checkbox_'+workpackage_id).html(checkboxHtml);
			// Update the status update text
			$('#status_update_monthly_report_'+workpackage_id).html(newValue);
		}
	}
	
</script>
<form action="/status" method="GET">
<div class="section-container tabs" data-section="tabs">
	<section>
		<p class="title" data-section-title><a href="#">My&nbsp;assignments</a></p>
		<div class="content" data-section-content>
			<h3>Assigned Workpackages</h3>
			<p><strong><a href="/people/?person={{ name }}">{{ name }}</a></strong></p>
			<div class="row">
				<div id="person_allocations_table"><center><img src="/static/img/ajax-loader.gif"/></center></div>
			</div>

		</div>
	</section>
{% if lead=="True" %}
<!-- 
	<section>
		<p class="title" data-section-title><a href="#">Portfolio</a></p>
		<div class="content" data-section-content>
			<h3><strong>Portfolio:</strong> {{portfolio}}</h3>
			<p><strong>Owner:</strong> {{portfolio_lead}}</p>
			<div class="row">
				<div id="portfolio_table"><center><img src="/static/img/ajax-loader.gif"/></center></div>
			</div>
		</div>
	</section>
-->
{% endif %}
<!-- 
	<section>
		<p class="title" data-section-title><a href="#">Directorate</a></p>
		<div class="content" data-section-content>
			<h3><strong>Directorate:</strong> TAID</h3>
			<p><strong>Owner:</strong> {{directorate_lead}}</p>
			<div class="row">
				<div id="directorate_table"><center><img src="/static/img/ajax-loader.gif"/></center></div>
			</div>
		</div>
	</section>
 -->
{% if lead=="True" or admin=="True" %}
	<section>
		<p class="title" data-section-title><a href="#">Status Report</a></p>
		<div class="content" data-section-content>
			<h3><strong>Monthly Status Report</strong></h3>
			<div class="row">
				<div id="status_report_table"><center><img src="/static/img/ajax-loader.gif"/></center></div>
			</div>
		</div>
	</section>
{% endif %}
</div>

</form>
{% endblock %}
