<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>PackageWork</title>  
  <link rel="stylesheet" href="/static/css/foundation.css" />
    <script src="/static/js/vendor/custom.modernizr.js"></script>
    <style type="text/css" media="all">
		div.red {
			background-color:red;
		}
		div.amber {
			background-color:orange;
		}
		div.green {
			background-color:green;
		}
		div.richeditable {
			border-bottom:dashed 1px #0088cc
		}
    </style>

    <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>
    
    <script src="/static/js/foundation.min.js"></script>

<!-- JQuery and JQuery UI -->
  <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script><!-- Overall JQuery version for page -->
  <script type="text/javascript" src="/static/js/aloha-jquery-1.7.2.js"></script><!-- JQuery version just for Aloha -->
  <script>
		// Hack to allow two versions of JQuery at the same time, and also to disable Aloha sidebar
    	Aloha = window.Aloha || {};
		Aloha.settings = Aloha.settings || {};
		Aloha.settings = { sidebar: { disabled: true } };
		// Restore the global $ and jQuery variables of your project's jQuery
		Aloha.settings.jQuery = window.jQuery.noConflict(true);
		alert($.fn.jquery);
  </script>



  <script src="/static/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.css" />

  <!-- X-Editable (JQueryUI version) -->
  <script src="/static/jqueryui-editable/js/jqueryui-editable.min.js"></script>
  <script src="/static/jqueryui-editable/js/adams-custom-editable-control.js"></script>
  <link rel="stylesheet" href="/static/jqueryui-editable/css/jqueryui-editable.css" />

  <!-- Any other custom styles.. -->
  <link rel="stylesheet" href="/static/css/workpackages.css" />
  
    <!-- load the Aloha Editor core and some plugins -->
    <script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
                                   data-aloha-plugins="common/ui,
                                                        common/format,
                                                        common/list,
                                                        common/link
                                                        ">
    </script>
               
    <!-- load the Aloha Editor CSS styles -->
    <link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
 
    <!-- make all elements with class="editable" editable with Aloha Editor -->
    <script type="text/javascript">
             Aloha.ready( function() {
                     var $ = Aloha.jQuery;
                     $('.richeditable').aloha();
             });
    </script>
    
    <!-- Events for Aloha editor -->
    <script src="/static/js/aloha-save.js"></script>
        
    <!-- We can switch between pop-up and inline editing with the below -->
    <script type="text/javascript">
    	//switch to inline mode by uncommenting the below
    	$.fn.editable.defaults.mode = 'inline';
    </script>
</head>
<body>

	<div class="row">
		<div class="large-12 columns">
			<h3 align="bottom"><img src="/static/img/logo.gif" /> TAID Workpackage reporting</h3>
			<hr />
			<ul class="inline-list left">
				<li><a href="/status">Status</a></li>
				<li><a href="/workpackages">Work packages</a></li>
				<li><a href="/person">Assignments</a></li>
				<li><a href="/unassigned">Unassigned</a></li>
				<li><a href="/edit">My Profile</a></li>

        <li> 
          {% if g.user.is_authenticated %}
          <a href="{{ url_for('.logout') }}">Logout</a>
          {% else %}
          <a href="{{ url_for('.login') }}">Login</a>
          {% endif %}
        </li>

			</ul>
			<hr />
		</div>
	</div>

<div class="row">
    <div class="large-12 columns">
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

	{% block content %}{% endblock %}
</div>
</div>

  <script>
  /*
  document.write('<script src=' +
  ('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
  '.js><\/script>')
  */
  </script>
  
  <!--
  
  <script src="/static/js/foundation/foundation.js"></script>
  
  <script src="/static/js/foundation/foundation.alerts.js"></script>
  
  <script src="/static/js/foundation/foundation.clearing.js"></script>
  
  <script src="/static/js/foundation/foundation.cookie.js"></script>
  
  <script src="/static/js/foundation/foundation.dropdown.js"></script>
  
  <script src="/static/js/foundation/foundation.forms.js"></script>
  
  <script src="/static/js/foundation/foundation.joyride.js"></script>
  
  <script src="/static/js/foundation/foundation.magellan.js"></script>
  
  <script src="/static/js/foundation/foundation.orbit.js"></script>
  
  <script src="/static/js/foundation/foundation.placeholder.js"></script>
  
  <script src="/static/js/foundation/foundation.reveal.js"></script>
  
  <script src="/static/js/foundation/foundation.section.js"></script>
  
  <script src="/static/js/foundation/foundation.tooltips.js"></script>
  
  <script src="/static/js/foundation/foundation.topbar.js"></script>
  
  <script src="/static/js/foundation/foundation.interchange.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
