{% macro input(name, value='', initialvalue='', type='text', class='') -%}
	<input type="{{ type }}" name="{{ name }}" id="{{ name }}" value="{{ value|e }}" placeholder="{{ initialvalue }}" class="{{ class }}">
{%- endmacro %}
{% macro textarea(name, value='', initialvalue='', rows='5', cols='', class='medium') -%}
	<textarea name="{{ name }}" id="{{ name }}" rows="{{ rows }}" cols="{{ cols }}" placeholder="{{ initialvalue }}" class="{{ class }}">{{ value }}</textarea>
{%- endmacro %}
{% macro dropdown(name, value='', values='[]', class='button') -%}
	<select name="{{ name }}" id="{{name}}" class="{{ class }}">
		<option value="">Please select</option>
		{% for item in values %} 	
			{% if item == value %}
			<option value="{{ item }}" selected="selected">{{ item }}</option> 
			{% elif item == "" %}			
			{% else %}
			<option value="{{ item }}">{{ item }}</option> 
			{% endif %}
		{% endfor %}
	</select>
{%- endmacro %}
{% macro filterdropdown(name, value='', values='[]', class='button') -%}
	<select name="{{ name }}" id="{{name}}" class="{{ class }}">
		<option value="">Any</option>
		{% for item in values %} 	
			{% if item == value and value != "" %}
			<option value="{{ item }}" selected="selected">{{ item|truncate(20) }}</option> 
			{% else %}
			<option value="{{ item }}">{{ item|truncate(20) }}</option> 
			{% endif %}
		{% endfor %}
	</select>
{%- endmacro %}