<!-- extend from base layout -->
{% extends "panel-base43.html" %}

{% block content %}
<br><br>
<div data-alert="" class="alert-box alert">
 You are not logged in.
  <a href="" class="close">×</a>
</div>
<a href="/" class="small button">Login</a> or <a href="/" class="small button">Register</a>
{% endblock %}
