{% extends "panel-base43.html" %}
{% block content %}
<h2>Please login or register:</h2>
<p><a class="btn-auth large btn-linkedin"  " href="{{ url_for('.login', provider_name='linkedin') }}">
    Login or register with <B>LinkedIn</b>
</a></p>
<p>
<a class="btn-auth large btn-google" href="{{ url_for('.login', provider_name='google') }}">
   Login or register with <b>Google</b>
</a>
</div>
{% endblock %}
