{% extends "panel-base43.html" %}
{% block content %}
<h2>You have logged out.</h2>
<p><a class="btn-auth large"  " href="{{ url_for('login') }}">
    Click here to log back in
</a></p>
</div>
<script>
	//$.get( "{{ logout_uri }}", function( data ) {
	//});
</script>
{% endblock %}
