<!-- extend from base layout -->
{% extends "panel-base.html" %}

{% block content %}

<div class="row">
<div class="large-4 columns">

{% if result.error %}
    <h2>Problems ... {{ result.error.message }}</h2>
{% endif %}
    
{% if result.user %}

	<h1>Authentication succeeded</h1>

    <h3>{{ result.user.name }}</h3>
    <!--h2>Your id is: {{ result.user.id }}</h2>
    <h2>Your email is: {{ result.user.email }}</h2-->

	<p>Show 
		<a href="{{ url_for('people.list_assignments', name=result.user.name) }}">
			work package alloctions
		</a>
	</p>

{% endif %}





{{ result.provider }}

<!--script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
<h1>Sign In</h1>

<form method="post" name="login">
    
    <input id="openid" 
        name="openid" 
        type="hidden" 
        value="https://www.google.com/accounts/o8/id">
    <button type="submit">
            Google
    </button>
    <p> Remember Me</p>
</form>

</div>
</div-->


{% endblock %}



