<ul id="nav" class="nav-bar">
	<li class="active"><a href="#panel-1" class="main nav-item">Current</a></li>
	<li><a href="#panel-2" class="main nav-item">Previous</a></li>
</ul>
<dl class="tabs two-up show-for-small" id="switchPanels">
	<dd class="active"><a href="#panel-1">Current</a></dd>
	<dd><a href="#panel-2">Previous</a></dd>
</dl>
