<nav role="navigation" class="hide-for-small">
<ul id="nav" class="nav-bar">
	<li class="active"><a href="#panel-1" class="main nav-item">All</a></li>
	<li><a href="#panel-2" class="main nav-item">Active</a></li>
	<li><a href="#panel-3" class="main nav-item">Pending</a></li>
	<li><a href="#panel-4" class="main nav-item">On&nbsp;hold</a></li>
	<li><a href="#panel-5" class="main nav-item">Closed</a></li>
</ul>
</nav>
<dl class="tabs five-up show-for-small" id="switchPanels">
	<dd class="active"><a href="#panel-1">All</a></dd>
	<dd><a href="#panel-2">Active</a></dd>
	<dd><a href="#panel-3">Pending</a></dd>
	<dd><a href="#panel-4">On&nbsp;hold</a></dd>
	<dd><a href="#panel-5">Closed</a></dd>
</dl>
