<nav role="navigation" class="hide-for-small">
<ul id="nav" class="nav-bar">
	<li class="active"><a href="#panel-1" class="main nav-item">My assignments</a></li>
	<li><a href="#panel-2" class="main nav-item">Portfolio</a></li>
	<li><a href="#panel-3" class="main nav-item">Directorate</a></li>
</ul>
</nav>
<dl class="tabs three-up show-for-small" id="switchPanels">
	<dd class="active"><a href="#panel-1">My assignments</a></dd>
	<dd><a href="#panel-2">Portfolio</a></dd>
	<dd><a href="#panel-3">Directorate</a></dd>
</dl>
