<div class="section-container tabs" data-section="tabs">
	<section>
		<p class="title" data-section-title><a href="#panel1">My&nbsp;assignments</a></p>
		<div class="content" data-section-content>
			<p>Content of section 1.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#panel2">Portfolio</a></p>
		<div class="content" data-section-content>
			<p>Content of section 2.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#panel3">Directorate</a></p>
		<div class="content" data-section-content>
			<p>Content of section 3.</p>
		</div>
	</section>
</div>

