<nav role="navigation" class="hide-for-small">
<ul id="nav" class="nav-bar">
	<li class="active"><a href="#wp-panel-summary" class="main nav-item">Summary</a></li>
	<li><a href="#wp-panel-dq" class="main nav-item">Data Quality</a></li>
	<li><a href="#wp-panel-pivot" class="main nav-item">Pivot Table</a></li>
	<li><a href="#wp-panel-graphs" class="main nav-item">Graphs</a></li>
</ul>
</nav>
<dl class="tabs five-up show-for-small" id="switchPanels">
	<dd class="active"><a href="#wp-panel-summary">Summary</a></dd>
	<dd><a href="#wp-panel-dq">Data Quality</a></dd>
	<dd><a href="#wp-panel-pivot">Pivot Table</a></dd>
	<dd><a href="#wp-panel-graphs">Graphs</a></dd>
</dl>
