<nav id="topMenu" role="navigation">
<ul class="nav-bar">
	<li{% if request.url.find("/status") != -1 %}
	class="active"
	{% endif %}><a href="/allocations">Home</a></li>
	<li {% if request.url.find("/workpackages/") != -1 and request.url.find("/unassigned") == -1 and request.url.find("/status") == -1 %}
	class="active"
	{% endif %}><a href="/workpackages/?status=Active">Work packages</a></li>
	<li{% if request.url.find("/people") != -1 %}
	class="active"
	{% endif %}><a href="/people">People</a></li>
	<li{% if request.url.find("/reports") != -1 %}
	class="active"
	{% endif %}><a href="/reports">Reports</a></li>
	<li{% if request.url.find("/unassigned") != -1 %}
	class="active"
	{% endif %}><a href="/workpackages/unassigned">Unassigned</a></li>
	<li{% if request.url.find("/edit") != -1 %}
	class="active"
	{% endif %}><a href="/edit">My Profile</a></li>
	<li{% if request.url.find("/admin") != -1 %}
	class="active"
	{% endif %}><a href="/admin/">Admin</a>
	</li>
	<li{% if request.url.find("/workpackages/add") != -1 %}
	class="active"
	{% endif %}><a href="/workpackages/add/">New</a>
	</li>
	<li> 
	  {% if g.user.is_authenticated %}
	  <a href="{{ url_for('.logout') }}">Logout</a>
	  {% else %}
	  <a href="{{ url_for('.index') }}">Login</a>
	  {% endif %}
	</li>
</ul>

</nav>
<p class="show-for-small" id="menuButtonContainer">
  <a class='menu-button button' id="menuButton" href="#menu">Menu</a>
</p>
<nav id="menu" role="navigation" class="hide-for-small">
<ul class="nav-bar hide-for-small" id="mainNav">
	<li{% if request.path.find("/allocations") != -1 %}
	class="active"
	{% endif %}><a href="/allocations">Home</a></li>
	<li {% if request.url.find("/workpackages/") != -1 and request.url.find("/unassigned") == -1 and request.url.find("/status") == -1 %}
	class="active"
	{% endif %}><a href="/workpackages/?status=Active">Work packages</a></li>
	<li{% if request.url.find("/people") != -1 %}
	class="active"
	{% endif %}><a href="/people">People</a></li>
	<li{% if request.url.find("/reports") != -1 %}
	class="active"
	{% endif %}><a href="/reports">Reports</a></li>
	<li{% if request.url.find("/unassigned") != -1 %}
	class="active"
	{% endif %}><a href="/workpackages/unassigned">Unassigned</a></li>
	<li{% if request.url.find("/admin") != -1 %}
	class="active"
	{% endif %}><a href="/admin">Admin</a></li>
	<li{% if request.url.find("/edit") != -1 %}
	class="active"
	{% endif %}><a href="/edit">My Profile</a></li>
	<li{% if request.url.find("/workpackages/add") != -1 %}
	class="active"
	{% endif %}><a href="/workpackages/add/">New</a>
	</li>
	<li> 
	  {% if g.user.is_authenticated %}
	  <a href="{{ url_for('.logout') }}">Logout</a>
	  {% else %}
	  <a href="{{ url_for('.index') }}">Login</a>
	  {% endif %}
	</li>
</ul>
</nav>

