<nav role="navigation" class="hide-for-small">
<ul id="nav" class="nav-bar">
	<li class="active"><a href="#wp-panel-summary" class="main nav-item">Summary</a></li>
	<li><a href="#wp-panel-assignments" class="main nav-item">Resources</a></li>
	<li><a href="#wp-panel-deliverables" class="main nav-item">Deliverables</a></li>
	<li><a href="#wp-panel-milestones" class="main nav-item">Milestones</a></li>
	<li><a href="#wp-panel-risks" class="main nav-item">Risks</a></li>
	<li><a href="#wp-panel-stakeholders" class="main nav-item">Stakeholders</a></li>
	<li><a href="#wp-panel-approvals" class="main nav-item">Approvals</a></li>
	<li><a href="#wp-panel-documents" class="main nav-item">Documents</a></li>
	<li><a href="#wp-panel-history" class="main nav-item">History</a></li>
</ul>
</nav>
<dl class="tabs five-up show-for-small" id="switchPanels">
	<dd class="active"><a href="#wp-panel-summary">Summary</a></dd>
	<dd><a href="#wp-panel-assignments">Resources</a></dd>
	<dd><a href="#wp-panel-deliverables">Deliverables</a></dd>
	<dd><a href="#wp-panel-milestones">Milestones</a></dd>
	<dd><a href="#wp-panel-risks">Risks</a></dd>
	<dd><a href="#wp-panel-stakeholders">Stakeholders</a></dd>
	<dd><a href="#wp-panel-approvals">Approvals</a></dd>
	<dd><a href="#wp-panel-documents">Documents</a></dd>
	<dd><a href="#wp-panel-history">History</a></dd>
</dl>
