<div class="fixed">
<nav class="top-bar">
	<ul class="title-area">
		<!-- Title Area -->
		<li class="name">
			<h1><a href="/">TAID&nbsp;Workpackage&nbsp;reporting</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
	</ul>

		
	<section class="top-bar-section">
		<ul class="right">
			<!--[if lt IE 8]><li><a href="#">You are using an <strong>outdated</strong> browser</a></li> <![endif]-->
			<li{% if request.path.find("/allocations") != -1 %}
			class="active"
			{% endif %}><a href="/allocations">Home</a></li>
			<li {% if request.url.find("/workpackages/") != -1 and request.url.find("/unassigned") == -1 and request.url.find("/status") == -1 %}
			class="active"
			{% endif %}><a href="/workpackages/?status=Active">Work packages</a></li>
			<li{% if request.url.find("/people") != -1 %}
			class="active"
			{% endif %}><a href="/people">People</a></li>
			<li{% if request.url.find("/reports") != -1 %}
			class="active"
			{% endif %}><a href="/reports">Reports</a></li>
			<!--li><a href="/workpackages/?dq_filter=unallocated">Unassigned</a></li-->
			<li id="navAdmin" style="display:none;" {% if request.url.find("/admin") != -1 %}
			class="active"
			{% endif %}><a href="/admin">Admin <span class="radius pending" id="pendingApprovals">0</span></a></li>
			<!--li{% if request.url.find("/edit") != -1 %}
			class="active"
			{% endif %}><a href="/edit">My Profile</a></li-->
			<!--li{% if request.url.find("/workpackages/add") != -1 %}
			class="active"
			{% endif %}><a href="/workpackages/add/">New</a>
			</li-->
			<li> 
			  {% if g.user.is_authenticated %}
			  <a href="{{ url_for('account') }}" target="_blank">Account</a>
			  {% endif %}
			</li>
			<li> 
			  {% if g.user.is_authenticated %}
			  <a href="{{ url_for('logout') }}">Logout</a>
			  {% else %}
			  <a href="{{ url_for('index') }}">Login</a>
			  {% endif %}
			</li>
		</ul>
	</section>
</nav>
</div>
