<!-- extend from base layout -->
{% extends "panel-base43.html" %}

{% block content %}
<h1>Register</h1>

<p>These details will be sent for approval.</p>

{% from "_formhelpers.html" import render_field %}

<form action="" method="post" name="newuser">
    {{form.hidden_tag()}}

    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.jobtitle) }}
    <p>
        <a href="/" class="small button">Cancel</a>
        <input type="submit" class="small button" value="Register">
    </p>

</form>
{% endblock %}