<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="robots" content="noindex">
	<title>Work Packages</title>  
	<link rel="stylesheet" href="/static/static43/css/foundation.css">
	<link rel="stylesheet" href="/static/static43/css/normalize.css">

	<!--link rel="stylesheet" href="/static/static43/css/app.css"-->
	<!--link rel="stylesheet" href="/static/css/offcanvas.css"-->
	<link rel="stylesheet" href="/static/css/responsive-tables.css">

	<!-- IE8 -->
	<!--[if IE]><link rel="stylesheet" href="/static/static43/css/ie8-grid-foundation-4.css"><!--<![endif]-->

	<script src="/static/static43/js/vendor/custom.modernizr.js"></script>
	
	<!-- Google Charts -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	
	<!-- Some common javascript date functions used in various pages -->
	<script type="text/javascript" src="/static/js/dateFunctions.js"></script>

	<!-- JQuery and JQuery UI -->
	<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script><!-- Overall JQuery version for page -->
	<script type="text/javascript" src="/static/js/aloha-jquery-1.7.2.js"></script><!-- JQuery version just for Aloha -->

	<script>
		// Hack to allow two versions of JQuery at the same time, and also to disable Aloha sidebar
    	Aloha = window.Aloha || {};
		Aloha.settings = Aloha.settings || {};
		Aloha.settings = { sidebar: { disabled: true } };
		Aloha.settings.contentHandler = {
		    insertHtml: [ 'word' ]
		};
		Aloha.settings.plugins = {
			table: {
				// allow resizing the table width (default: false)
				tableResize: true,
				// allow resizing the column width (default: false)
				colResize: true,
				// allow resizing the row height (default: false)
				rowResize: true
			}
		};
		// Restore the global $ and jQuery variables of your project's jQuery
		Aloha.settings.jQuery = window.jQuery.noConflict(true);
	</script>

	<script src="/static/js/jquery-ui.js"></script>
	<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.css" />

	<!-- X-Editable (JQueryUI version) -->
	<script src="/static/jqueryui-editable/js/jqueryui-editable.min.js"></script>
	<script src="/static/jqueryui-editable/js/adams-custom-editable-control.js"></script>
	<link rel="stylesheet" href="/static/jqueryui-editable/css/jqueryui-editable.css" />

	<!-- Any other custom styles.. -->
	<link rel="stylesheet" href="/static/css/workpackages.css" />

	<script src="/static/js/foundation/responsive-tables.js"></script>

	<link rel="stylesheet" href="/static/social-signin/auth-buttons.css" />


	<!-- We can switch between pop-up and inline editing with the below -->
	<script type="text/javascript">
	{% if request.url.find("/status") != -1 %}
	$.fn.editable.defaults.mode = 'popup';
	{% else %}
	$.fn.editable.defaults.mode = 'inline';
	{% endif %}

function showAdmin()
{
	$.ajax({
		url: '/people/isadmin',
		type: "GET",
		success: function(response) {
			if (response=='True')
			{		
				$('#navAdmin').show();
			}
			else
			{
				$('#navAdmin').hide();
			}
		},
		error: function(response, status) {
			$('#navAdmin').hide();
		}	
	});
}
function loadPendingApprovals()
{
	$.ajax({
		url: '/admin/approvals/count',
		type: "GET",
		success: function(response) {
			if (response>=1)
			{		
				$('#pendingApprovals').text(response);
				$('#pendingApprovals').show();
			}
			else
			{
				$('#pendingApprovals').text('');
				$('#pendingApprovals').hide();
			}
		},
		error: function(response, status) {
			$('#pendingApprovals').text('');
			$('#pendingApprovals').hide();
		}	
	});
}
loadPendingApprovals();
showAdmin();
	</script>
</head>
<body id="body" class="antialiased hide-extras">
	<!-- Respond JS to fix IE issues -->
	<script src="/static/static43/js/respond.min.js"></script>
	
	{% include "nav-main43.html" %}
	{% include "include-selector43.html" %}

	<div class="row">
		<div class="columns">
	{% block content %}{% endblock %}
		</div>
	</div>

	<!-- 
	<script>
	document.write('<script src=' +
	('__proto__' in {} ? '/static/static43/js/vendor/zepto' : '/static/static43/js/vendor/jquery') +
	'.js><\/script>')
	</script>
 	-->
 	<div id="updateModal" class="reveal-modal radius expand"></div>
 	<div id="errorModal" class="reveal-modal warning radius expand"><div id="errorModalContent"></div><a class="close-reveal-modal">&#215;</a></div>
	<script src="/static/static43/js/foundation.min.js"></script>
	<script src="/static/static43/js/foundation/foundation.topbar.js"></script>
	<!--script src="/static/static43/js/foundation/foundation.js"></script-->
	<script src="/static/static43/js/foundation/foundation.abide.js"></script>
	<script src="/static/static43/js/foundation/foundation.placeholder.js"></script>
	<script src="/static/static43/js/foundation/foundation.alerts.js"></script>
	<script src="/static/static43/js/foundation/foundation.tooltips.js"></script>
	<script src="/static/static43/js/foundation/foundation.section.js"></script>
	<script src="/static/static43/js/foundation/foundation.reveal.js"></script>
	<script>
	$(document).foundation();
	</script>
</body>
</html>
