<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="noindex">
  <title>Work Packages</title>  
  <link rel="stylesheet" href="/static/css/foundation.css" />
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="stylesheet" href="/static/css/offcanvas.css">
  <link rel="stylesheet" href="/static/css/responsive-tables.css">

  <script src="/static/js/vendor/custom.modernizr.js"></script>

  <script type="text/javascript" src="/static/js/require.js"></script>

  <!-- Some common javascript date functions used in various pages -->
  <script type="text/javascript" src="/static/js/dateFunctions.js"></script>

  <!-- JQuery and JQuery UI -->
  <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script><!-- Overall JQuery version for page -->
  <script type="text/javascript" src="/static/js/aloha-jquery-1.7.2.js"></script><!-- JQuery version just for Aloha -->
  <script>
		// Hack to allow two versions of JQuery at the same time, and also to disable Aloha sidebar
    	Aloha = window.Aloha || {};
		Aloha.settings = Aloha.settings || {};
		Aloha.settings = { sidebar: { disabled: true } };
		// Restore the global $ and jQuery variables of your project's jQuery
		Aloha.settings.jQuery = window.jQuery.noConflict(true);
  </script>
  
  
  <script src="/static/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.css" />

  <!-- X-Editable (JQueryUI version) -->
  <script src="/static/jqueryui-editable/js/jqueryui-editable.min.js"></script>
  <script src="/static/jqueryui-editable/js/adams-custom-editable-control.js"></script>
  <link rel="stylesheet" href="/static/jqueryui-editable/css/jqueryui-editable.css" />

  <!-- Any other custom styles.. -->
  <link rel="stylesheet" href="/static/css/workpackages.css" />

  <script src="/static/js/foundation/responsive-tables.js"></script>

<!-- load the Aloha Editor core and some plugins -->
<script src="/static/js/aloha.js"
	                   data-aloha-plugins="common/ui,
	                                        common/format,
	                                        common/list,
	                                        common/link
	                                        ">
</script>
       
<!-- load the Aloha Editor CSS styles -->
<link href="/static/css/aloha.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/social-signin/auth-buttons.css" />
<!-- make all elements with class="editable" editable with Aloha Editor -->
<script type="text/javascript">
	
     Aloha.ready( function() {
	     var $ = Aloha.jQuery;
	     $('.richeditable').aloha();
     });
</script>

<!-- Events for Aloha editor -->
<script src="/static/js/aloha-save.js"></script>


<!-- We can switch between pop-up and inline editing with the below -->
<script type="text/javascript">
{% if request.url.find("/status") != -1 %}
$.fn.editable.defaults.mode = 'popup';
{% else %}
$.fn.editable.defaults.mode = 'inline';
{% endif %}
</script>
    
</head>
<body id="body" class="offcanvas paneled">
	<div class="container">
	<div class="ten columns">

		<header id="header">
	     	  <div class="row">
		    <h1 id="site-title" class="hide-for-small"><img src="/static/img/logo.gif" /> TAID Workpackage reporting</h1>
		    <img src="/static/img/logo.gif" class="show-for-small" /> 
		  </div>
		  <div class="row">
			{% include "nav-main.html" %}
			{% include "include-selector.html" %}
		  </div>
		</header>

	
		<div class="row">

		  {% with messages = get_flashed_messages() %}
		  {% if messages %}
		  <ul>
		  {% for message in messages %}
		      <li>{{ message }} </li>
		  {% endfor %}
		  </ul>
		  {% endif %}
		  {% endwith %}

			{% block content %}{% endblock %}
		</div>
	</div>
	</div>
  <script>
  //document.write('<script src=' +
  //('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
  //'.js><\/script>')
  </script>
  
  <script src="/static/js/foundation.min.js"></script>
  
  <!--
  <script src="/static/js/foundation/foundation.js"></script>
  
  <script src="/static/js/foundation/foundation.alerts.js"></script>
  
  <script src="/static/js/foundation/foundation.clearing.js"></script>
  
  <script src="/static/js/foundation/foundation.cookie.js"></script>
  
  <script src="/static/js/foundation/foundation.dropdown.js"></script>
  
  <script src="/static/js/foundation/foundation.forms.js"></script>
  
  <script src="/static/js/foundation/foundation.joyride.js"></script>
  
  <script src="/static/js/foundation/foundation.magellan.js"></script>
  
  <script src="/static/js/foundation/foundation.orbit.js"></script>
  
  <script src="/static/js/foundation/foundation.placeholder.js"></script>
  
  <script src="/static/js/foundation/foundation.reveal.js"></script>
  
  <script src="/static/js/foundation/foundation.section.js"></script>
  
  <script src="/static/js/foundation/foundation.tooltips.js"></script>
  
  <script src="/static/js/foundation/foundation.topbar.js"></script>
  
  <script src="/static/js/foundation/foundation.interchange.js"></script>
  

  
-->
  <script src="/static/js/foundation/jquery.foundation.navigation.js"></script>
  <script src="/static/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="/static/js/foundation/jquery.foundation.tabs.js"></script>
  <script src="/static/js/foundation/jquery.foundation.tooltips.js"></script>
  <script src="/static/js/foundation/jquery.offcanvas.js"></script>
  <script src="/static/js/foundation/app.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
