{% extends "base.html" %}
{% block content %}
<div class="row">
		<div class="large-8 columns">
			<h3><strong>Person:</strong> {{ user }} (80%)</h3>
			<!-- Grid Example -->
			<div class="row">
				<div class="large-4 columns">
					<div class="panel">
					<img src="{{ gravurl }}" />
					<p>Read more about {{ user }} on <a href="http://connect2/Sites/searchcenter/Pages/peopleresults.aspx?k={{ user }}&s=People">Connect2</a></p>
					</div>
				</div>
				<div class="large-8 columns">
					<div class="panel">
						<p><strong>Current Assignments</strong>
						<ul>
						{% for item in list %}
							{% if item.status == 'Active' %}
							<li><a href="/workpackage/{{ item.id }}">{{ item.name }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p><strong>Previous assignments</strong>
						<ul>
						{% for item in list %}
							{% if item.status != 'Active' %}
							<li><a href="/workpackage/{{ item.id }}">{{ item.name }} ({{ item.status }})</a></li>
							{% endif %}
						{% endfor %}
						</ul>			
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="large-4 columns">
			<h4>People</h4>
			<p>
			<ul>
			{% for person in people %}
				<li><a href="/person/{{ person.name }}">{{ person.name }}</a> (10%)</li>
			{% endfor %}
			</ul>			
			</p>
		</div>
	</div>
{% endblock %}
