{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="large-8 columns">
			<div class="row">
				<div class="large-12 columns">
					<div class="panel report">
						<embed type="application/x-shockwave-flash" pluginspage="https://www.adobe.com/go/getflashplayer" src="/static/swf/AnyChart.swf" id="chart__0" name="chart__0" bgcolor="#FFFFFF" allowscriptaccess="always" wmode="opaque" flashvars="__externalObjId=chart__0&amp;XMLFile=graphdata&amp;initText=Initializing...&amp;xmlLoadingText=Loading xml...&amp;resourcesLoadingText=Loading resources...&amp;waitingForDataText=Waiting for data...&amp;templatesLoadingText=Loading templates...&amp;nodatatext=No data available for this time period." width="100%" height="100%">
					</div>
				</div>
			</div>
		</div>

		<div class="large-4 columns">
			<h4>Quick Links</h4>
			<ul class="disc">
				<li><a href="/workpackages?status=Active">Work Packages</a><br />A full list of active work packages.</li>
				<li><a href="/person">Assignments</a><br />What each individual is assigned to.</li>
				<li><a href="/unassigned">Unassigned</a><br />Work that does not have anyone assigned to it</li>
			</ul>
		</div>
	</div>
{% endblock %}
