{% extends "base.html" %}
{% block content %}
<div class="row">
		<div class="large-12 columns">
			<h3><strong>Unassigned work packages</strong></h3>
			<!-- Grid Example -->
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>
						<ul>
						{% set last = "" %}
						{% for item in list %}
							{% if item.areaOfWork != last %}
								</ul>
								<h4>{{ item.areaOfWork }}</h4>
								<ul>
							{% endif %}
							<li><a href="/workpackage/{{ item.id }}">{{ item.name }}</a> ({{ item.status }})</li>
						{% set last = item.areaOfWork %}
						{% endfor %}
						</ul>
						</p>
					</div>
				</div>
			</div>
				
		</div>
	</div>
{% endblock %}
