{% extends "base.html" %}
{% import 'form.html' as form %}
{% block content %}
<form name="form1" action="/workpackage/{{ item.id }}/update" method="POST">
<div class="row">
		<div class="large-8 columns">
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>{{ form.input('name', item.name, 'Workpackage name') }}</p>
					</div>
				</div>
			</div>

			<!-- Grid Example -->
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>{{ form.textarea('description', item.description, 'Provide a description') }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<div class="panel">
						<p>Status: {{ form.dropdown('status', item.status, {'Active':'Active', 'Closed':'Closed', 'On hold':'On hold', 'Pending':'Pending', 'Please Update':'Please Update'}) }}</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<p>Start: {{ form.input('forecastStartDate', item.forecastStartDate, 'Start date') }}</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<p>End: {{ form.input('forecastEndDate', item.forecastEndDate, 'End date') }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p><strong>Deliverables: </strong>
						{{ form.textarea('deliverables', item.deliverables, 'Provide a list of deliverables') }}</li>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<div class="panel">
						<p><strong>Portfolio:</strong> {{ form.dropdown('portfolio', item.portfolio, portfolio) }}<br />
						<strong>Owner:</strong> {{ form.dropdown('portfolioOwner', item.portfolioOwner, portfolioOwner) }}</p>
					</div>
				</div>
			
				<div class="large-6 columns">
					<div class="panel">
						<p><strong>Assignments: </strong> (1.5 FTE)
						{% for assigned in item.Assigned %}
							{{ form.dropdown('assigned.Name', assigned.Name, people) }}
						{% endfor %}
						<strong>Add new:</strong>
						{{ form.dropdown('assigned.Name', '', people) }}
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>{{ form.input('Submit', 'Update', type='Submit', class='small button') }}<a href="/workpackage/{{ item.id }}" class="small button secondary">Cancel</a></p>
					</div>
				</div>
			</div>			
		</div>

		<div class="large-4 columns">
			<h4>Portfolio</h4>
			<p><ul>
				{% for portfolio in portfolioList %}
                                {% if portfolio.portfolio != "" %}
					<li><a href="/workpackages?portfolio={{ portfolio.portfolio }}&status=Active">{{ portfolio.portfolio }}</a></li>
				{% endif %}
				{% endfor %}
			</ul></p>
		</div>
	</div>
</form>
{% endblock %}
