{% extends "panel-base43.html" %}

{% block content %}

<h1>Users waiting for approval</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Auth provider</th>
            <th>Auth email</th>
            <th>Job title</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
    {% for user in unapproved %}
        <tr>
            <td>{{ user.name }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.authprovider }}</td>
            <td><a href="mailto:{{ user.emailauth }}">{{ user.emailauth }}</a></td>
            <td>{{ user.jobtitle }}</td>
            <td><a href="{{ url_for('adminviews.confirm_user', approval_id=user.id)}}">approve</a></td>
            <td><a href="{{ url_for('adminviews.reject_user', approval_id=user.id)}}">reject</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}