{% extends "panel-base43.html" %}

{% block content %}

<!-- Aloha needs require.js to load other dependencies dynamically -->
<script type="text/javascript" src="/static/js/require.js"></script>

<!-- load the Aloha Editor core and some plugins -->
<script src="/static/js/aloha.js" 
	           data-aloha-plugins="common/ui,
	                                common/format,
	                                common/list,
	                                common/link,
					common/paste,
					common/contenthandler,
					common/table
	                                ">
</script>

<!-- load the Aloha Editor CSS styles -->
<link href="/static/css/aloha.css" rel="stylesheet" type="text/css" />

<!-- make all elements with class="editable" editable with Aloha Editor -->
<script type="text/javascript">

     Aloha.ready( function() {
	     var $ = Aloha.jQuery;
	     $('.richeditable').aloha();
     });
</script>

<!-- Events for Aloha editor -->
<script src="/static/js/aloha-deliverables-save.js"></script>	


<h1>Default values for Workpackage Deliverables</h1>

<table>
<tr><th width="20%">Service Type</th><th width="70%">Default Deliverables</th><th width="10%">Delete</th></tr>
{% for field in data %}
	<tr>
		<td><a href="#" id="serviceType_{{field.id}}" data-type="select" data-pk="1" data-url="/admin/savedeliverableitem/" data-original-title="Value" data-showbuttons="false">{{field.serviceType}}</a></td>
	    <td>
	    	<div class="richeditable" id="{{field.id}}" placeholder="Placeholder Text">
				{% autoescape false %}
				{{ field.deliverables }}
				{% endautoescape %}
			</div>
	    </td>
	    <td><a href="#" onclick="openDeleteModal('{{field.id}}')">Delete</a></td>
	</tr>
{% endfor %}
	<tr>
		<td colspan="3">
			<a href="#" id="new" data-type="select" data-pk="1" data-url="/admin/newdeliverable/" data-original-title="Value" data-emptytext="Add new default deliverable entry" data-showbuttons="false"></a>
		</td>
	</tr>
</table>
<script>
function refresh_page(response, newValue) { location.reload(); }

{% for field in data %}
	$(function(){ $('#serviceType_{{field.id}}').editable({ params: { id : '{{field.id}}', field_name : 'serviceType' },
		   value: '{{ field.serviceType }}',
		   //emptytext: 'Choose from the drop down list to complete these sections',
		   source: '/workpackages/lists/serviceType/'}); });
{% endfor %}

//$('#new').editable({params: { field_name : 'serviceType' }, success: refresh_page });
	$(function(){ $('#new').editable({
		   success: refresh_page,
		   //value: 'Add new default deliverable entry',
		   //emptytext: 'Choose from the drop down list to complete these sections',
		   source: '/workpackages/lists/serviceType/'}); });

function openDeleteModal(id) {
	$('#id').val(id);
	$('#confirmDeleteModal').foundation('reveal', 'open');
}
</script>
<div id="confirmDeleteModal" class="reveal-modal" style="display: none">
  <p><b>Are you sure you want to delete this item?</b></p>
  <form id="deleteform" action="/admin/deletedeliverables/" method="GET">
  <input type="hidden" name="id" id="id" />
  <a class="small button" href="#" onclick="$('#deleteform').submit();">Yes, Delete</a>
  <a class="close-reveal-modal">&#215;</a>
  </form>
</div>

{% endblock %}
