{% extends "panel-base43.html" %}

{% block content %}

<h1>Administration</h1>

<ul>
<li><a href="{{ url_for('adminviews.admin_approvals') }}">Pending user approvals</a></li>
<li><a href="{{ url_for('adminviews.user_list') }}">User Management</a></li>
<li><a href="{{ url_for('adminviews.reference_lists') }}">Drop-Down Values</a></li>
<li><a href="{{ url_for('adminviews.deliverables') }}">Default Deliverables for new Workpackages</a></li>
</ul>

{% endblock %}
