{% extends "panel-base43.html" %}

{% block content %}

<h1>Drop-Down Values</h1>

<table>
<tr><th width="50px">Field Name</th><th>Values</th><th>Delete</th></tr>
{% for field in data %}
	<tr>
		<td colspan="3">{{field.field_name}}</td>
	</tr>
	{% for entry in field.field_values %}
		<tr><td>&nbsp;</td>
		    <td><a href="#" id="{{field.field_name}}_{{loop.index}}" data-type="text" data-pk="1" data-url="/admin/savereferenceitem/" data-original-title="Value">{{entry}}</a></td>
		    <td><a href="#" onclick="openDeleteModal('{{field.field_name}}','{{loop.index}}')">Delete</a></td>
		</tr>
	{% endfor %}
	<tr><td>&nbsp;</td><td><a href="#" id="{{field.field_name}}_new" data-type="text" data-pk="1" data-url="/admin/newreferenceitem/" data-original-title="Value" data-emptytext="Add New Value"></a></td>
	<td>&nbsp;</td></tr>
{% endfor %}
</table>
<script>
function refresh_page(response, newValue) { location.reload(); }

{% for field in data %}
	{% for entry in field.field_values %}
		$('#{{field.field_name}}_{{loop.index}}').editable({params: { index : '{{loop.index}}', field_name : '{{field.field_name}}' } });
	{% endfor %}
	$('#{{field.field_name}}_new').editable({params: { field_name : '{{field.field_name}}' }, success: refresh_page });
{% endfor %}

function openDeleteModal(field_name, index) {
	$('#field_name').val(field_name);
	$('#index').val(index);
	$('#confirmDeleteModal').foundation('reveal', 'open');
}
</script>
<div id="confirmDeleteModal" class="reveal-modal" style="display: none">
  <p><b>Are you sure you want to delete this item?</b></p>
  <form id="deleteform" action="/admin/deletereferenceitem/" method="GET">
  <input type="hidden" name="field_name" id="field_name" />
  <input type="hidden" name="index" id="index" />
  <a class="small button" href="#" onclick="$('#deleteform').submit();">Yes, Delete</a>
  <a class="close-reveal-modal">&#215;</a>
  </form>
</div>

{% endblock %}
