{% extends "panel-base43.html" %}

{% block content %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<h1>User Management</h1>
<table id="usertable" class="datatable">
    <thead>
        <tr>
            <th class="sorting_asc">Name</th>
            <th>Email</th>
            <th>Auth provider</th>
            <th>Auth email</th>
            <th>Job title</th>
           <th>Portfolio Lead</th>
           <th>Portfolio</th>
            <th>System Role</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for user in userlist %}
        <tr>
            <td><a href="#" id="{{user.id}}_name" data-type="text" data-pk="1" data-url="/admin/saveitem/" data-original-title="Name">{{ user.name }}</a></td>
            <td><a href="#" id="{{user.id}}_email" data-type="text" data-pk="1" data-url="/admin/saveitem/" data-original-title="Email">{{ user.email }}</a></td>
            <td>{{ user.authprovider }}</td>
            <td>{{ user.emailauth }}</td>
            <td><a href="#" id="{{user.id}}_jobtitle" data-type="text" data-pk="1" data-url="/admin/saveitem/" data-original-title="Job Title">{{ user.jobtitle }}</a></td>

	   <td><a href="#" id="{{user.id}}_lead" data-type="select" data-pk="1" data-url="/admin/saveitem/" data-original-title="Lead" data-showbuttons="false">{{ user.lead }}</a></td>
	   <td><a href="#" id="{{user.id}}_programme" data-type="select" data-pk="1" data-url="/admin/saveitem/" data-original-title="Programme" data-showbuttons="false">{{ user.programme }}</a></td>

            <td><a href="#" id="{{user.id}}_role" data-type="select" data-pk="1" data-url="/admin/saveitem/" data-original-title="Role" data-showbuttons="false">{{ user.role }}</a></td>
            <td><a href="#" id="{{user.id}}_status" data-type="select" data-pk="1" data-url="/admin/saveitem/" data-original-title="Status" data-showbuttons="false">{{ user.status }}</a></td>
            <td><a href="#" onclick="openDeleteModal('{{user.name}}', '{{user.id}}');">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
{% for user in userlist %}
$('#{{user.id}}_name').editable({params: { personid : '{{ user.id }}', fieldname : 'name' } });
$('#{{user.id}}_email').editable({params: { personid : '{{ user.id }}', fieldname : 'email' } });
$('#{{user.id}}_jobtitle').editable({params: { personid : '{{ user.id }}', fieldname : 'jobtitle' } });
$(function(){ $('#{{user.id}}_status').editable({ params: { personid : '{{ user.id }}', fieldname : 'status' }, value: '{{ user.status }}', source: '[{value: "Active", text: "Active"}, {value: "Deactivated", text: "Deactivated"}]'}); });
$(function(){ $('#{{user.id}}_role').editable({ params: { personid : '{{ user.id }}', fieldname : 'role' }, value: '{{ user.role }}', source: '[{value: "User", text: "User"}, {value: "Lead", text: "Lead"}, {value: "Admin", text: "Admin"}]'}); });

$(function(){ $('#{{user.id}}_lead').editable({ params: { personid : '{{ user.id }}', fieldname : 'lead' }, value: '{{ user.lead }}', source: '[{value: "True", text: "True"}, {value: "False", text: "False"}]'}); });

$(function(){ $('#{{user.id}}_programme').editable({ params: { personid : '{{ user.id }}', fieldname : 'programme' }, value: '{{ user.programme }}', source: '/workpackages/lists/portfolio/'}); });

{% endfor %}

$(document).ready(function(){
    $('#usertable').dataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": false
    });
});

function openDeleteModal(username, person_id) {
	$('#username_span').text(username);
	$('#person_id').val(person_id);
	$('#confirmDeleteModal').foundation('reveal', 'open');
}
</script>
<div id="confirmDeleteModal" class="reveal-modal" style="display: none">
  <p><b>Are you sure you want to delete <span id="username_span"></span>?</b></p>
  <form id="deleteform" action="/admin/delete" method="GET">
  <input type="hidden" name="person_id" id="person_id" />
  <a class="small button" href="#" onclick="$('#deleteform').submit();">Yes, Delete</a>
  <a class="close-reveal-modal">&#215;</a>
  </form>
</div>
{% endblock %}
