<html>
<head>
<style>
body {
	font-family: "Arial";
	font-size: "10pt";
}
</style>
</head>
<body>
<h1><img src="app/static/img/nhs_digital_logo.png"/></h1>
<p>&nbsp;</p>
<p><b>Work Package Name:</b> {{ item.name }}</p>
<p><b>Portfolio:</b> {{ item.portfolio }}
<p><b>Portfolio Owner:</b> {{ item.portfolioOwner }}</p>
<p><b>Programme / Domain:</b> {{ item.areaOfWork }}</p>
<p><b>Work Package Lead:</b> {{ item.leadPerson }}</p>
<p><b>Status:</b> {{ item.status }}</p>
<p><b>Service Type:</b> {{ item.serviceType }}</p>

<h1>Description - Including purpose and problem space</h1>
<p>{% autoescape false %}{{ item.description }}{% endautoescape %}</p>

<h1>Estimated Effort, Skills & duration</h1>
<p><b>Start Date:</b> {{ item.forecastStartDate }}</p>
<p><b>End Date:</b> {{ item.forecastEndDate }}</p>
<p><b>Committed Resource:</b> {{ item.percentageFteEffort }}% FTE</p>
<p><b>Estimated Effort:</b> {{ item.expected_effort }} mandays</p>

<h1>Work Package Activities/Milestones</h1>
<p>{% autoescape false %}{{ item.milestones }}{% endautoescape %}</p>

<h1>Deliverables</h1>
<p>{% autoescape false %}{{ item.deliverables }}{% endautoescape %}</p>

<h1>Risks, Issues, Assumptions and Dependencies</h1>
<p>{% autoescape false %}{{ item.risks }}{% endautoescape %}</p>

<h1>Key Stakeholders</h1>
<p>{% autoescape false %}{{ item.stakeholders }}{% endautoescape %}</p>

<h1>Work package approvals</h1>
<p>{% autoescape false %}{{ item.approvals }}{% endautoescape %}</p>

</body></html>
