{% extends "panel-base43.html" %}
{% import 'form.html' as form %}
{% block content %}
			<h3><strong>Confirm Work Package Deletion</strong></h3>
			<p><strong>Are you sure you want to delete this work package?</strong></p>
			<p><strong>Work Package Name:</strong> {{ item.name }}</p>
			<br/>
			<p>
			<a href="/workpackages/{{ item.id }}/Delete" class="small button">Delete work package</a>&nbsp;&nbsp;
			<a href="/workpackages/{{ item.id }}/" class="small button">Cancel</a>
			</p>
{% endblock %}
