{% extends "panel-base.html" %}
{% import 'form.html' as form %}
{% block content %}

			<section role="main" id="main">
				<article id="panel-1" class="page-panel">
					<div class="ten columns one-mobile">
						<h3><strong>Unassigned work packages ({{ list|length }})</strong></h3>
						<div class="large-12 columns">
							<div class="panel">
								<p>
								<ul>
								{% set last = "" %}
								{% set count = 0 %}
								{% for item in list %}
									{% if item.areaOfWork != last %}
										</ul>
										<h4>{{ item.areaOfWork }}</h4>
										<ul>
									{% endif %}
									<li><a href="/workpackages/{{ item.id }}">{{ item.name }}</a> ({{ item.status }})</li>
									{% set last = item.areaOfWork %}
									{% set count = count + 1 %}
								{% endfor %}
								</ul>
								</p>
							</div>
						</div>

					</div>
					<div class="two columns">
						<p>&nbsp;</p>
					</div>
				</article>
			</section>

{% endblock %}
