{% extends "panel-base43.html" %}
{% import 'form.html' as form %}
{% block content %}
			<script type="text/javascript" src="/static/js/workPackageFunctions.js"></script>
			<h3><strong>Create New Work Package</strong></h3>
			<p>Please enter a name for your new work package: 
			<form method="get" id="new_wp_form" action="/workpackages/additem/">
				<input type="text" id="new_wp_name" name="name" value="" />
				<a href="#" onclick="create_new_wp()" value="Create" class="small button"/>Create</a>&nbsp;&nbsp;
				<a href="/workpackages/" class="small button">Cancel</a>
			</form>
			<div id='test'></div>
			</p>
{% endblock %}