{% extends "panel-base43.html" %}
{% import 'form.html' as form %}
{% block content %}

			<!-- Aloha needs require.js to load other dependencies dynamically -->
			<script type="text/javascript" src="/static/js/require.js"></script>
			
			<!-- load the Aloha Editor core and some plugins -->
			<script src="/static/js/aloha.js" 
				           data-aloha-plugins="common/ui,
				                                common/format,
				                                common/list,
				                                common/link,
								common/paste,
								common/contenthandler,
								common/table
				                                ">
			</script>
			
			<!-- load the Aloha Editor CSS styles -->
			<link href="/static/css/aloha.css" rel="stylesheet" type="text/css" />
			
			<!-- make all elements with class="editable" editable with Aloha Editor -->
			<script type="text/javascript">
			
			     Aloha.ready( function() {
				     var $ = Aloha.jQuery;
				     $('.richeditable').aloha();
			     });
			</script>
			
			<!-- Events for Aloha editor -->
			<script src="/static/js/aloha-save.js"></script>	


			<script type="text/javascript" src="/static/js/workPackageFunctions.js"></script>
			<input type="hidden" id="workpackageid" name="workpackagefields" value="{{ item.id }}">
			<input type="hidden" id="start_month" name="start_month" value="{{start_month}}">
			<input type="hidden" id="end_month" name="end_month" value="{{ end_month }}">

			<div class="section-container tabs" data-section="tabs">
				<section>
					<p class="title" data-section-title><a href="#">Summary</a></p>
					<div class="content" data-section-content>
						<div class="row">
							<div class="large-7 columns">
								<h3 class="item-name-heading">{{ item.name }}</h3>
							</div>
							<div class="large-5 columns">
								<p>
								{% if item.status != "Closed" %}
								{% if is_admin == true %}
								<a href="/workpackages/{{ item.id }}/Close/confirm" class="small button">Close</a>&nbsp;&nbsp;
								{% endif %}
								{% endif %}	
								<a href="/workpackages/{{ item.id }}/Duplicate" class="small button">Duplicate</a>&nbsp;&nbsp;
								<a href="/workpackages/{{ item.id }}/Delete/confirm" class="small button">Delete</a>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="large-7 columns">
								<p><strong>Name:</strong> <a href="#" id="name" data-type="text" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Work Package Name">{{ item.name }}</a><br/>
								<strong>Programme:</strong> <a href="#" id="programme" data-type="SelectAH" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Programme" data-showbuttons="false">{{ item.programme }}</a> <small>(<span data-tooltip class='has-tip' title='To list or search for programmes, click: Reports menu &gt; Programmes tab'>Help</span>)</small><br />
								<!-- <strong>Portfolio:</strong> <a href="#" id="portfolio" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Portfolio" data-showbuttons="false">{{ item.portfolio }}</a><br />
								<strong>Portfolio Owner:</strong> <a href="#" id="portfolioOwner" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Portfolio Owner" data-showbuttons="false">{{ item.portfolioOwner }}</a><br />
								 -->
								<strong>Originator:</strong> <a href="#" id="originator" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Originator" data-showbuttons="false">{{ item.originator }}</a><br/>
								<strong>Domain:</strong> <a href="#" id="areaOfWork" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Domain" data-showbuttons="false">{{ item.areaOfWork }}</a><br/>
								<strong>Service Type:</strong> <a href="#" id="serviceType" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Service Type" data-showbuttons="false">{{ item.serviceType }}</a><br/>
								<!-- 
								<strong>TAID Level 1 Service Type:</strong> <a href="#" id="level1Type" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="TAID Level 1 Service Type" data-showbuttons="false">{{ item.level1Type }}</a><br/>
								<strong>TAID Level 2 Service Type:</strong> <a href="#" id="level2Type" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="TAID Level 2 Service Type" data-showbuttons="false">{{ item.level2Type }}</a>
								-->
								</p>
							</div>
							<div class="large-5 columns">
								<p><strong>Status:</strong>
								{% if is_admin == true %}
								<a href="#" id="status" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Status" data-showbuttons="false">{{ item.status }}</a><br/>
								{% else %}
								{{ item.status }}<br/>
								{% endif %}
								{% if item.status == "Closed" %}
								<strong>Closed Date:</strong> {{ item.closedDate }}<br/>
								{% endif %}
								<strong>Start:</strong> <a href="#" id="forecastStartDate" data-type="date" data-value="{{ item.forecastStartDate }}" data-format="dd/mm/yyyy" data-viewformat="dd/mm/yyyy" data-placement="right" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Start Date">{{ item.forecastStartDate }}</a><br/>
								<strong>End:</strong>   <a href="#" id="forecastEndDate"   data-type="date" data-value="{{ item.forecastEndDate }}"   data-format="dd/mm/yyyy" data-viewformat="dd/mm/yyyy" data-placement="right" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="End Date">{{ item.forecastEndDate }}</a></p>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<p><strong>Description: </strong>
								<div class="richeditable" id="description" placeholder="Placeholder Text">
								{% autoescape false %}
								{{ item.description }}
								{% endautoescape %}
								</div></p>
								<div class="helptext">Describe the scope of the work package, the problem space and rationale for the work.
								Include, where required, any areas explicitly out of scope and benefits of the work package
								The summary will be viewed by senior management so needs to be self-describing and
								easy to understand.</div>
								{% if item.created %}
								<br/><small>Work package created: {{item.created.strftime('%d/%m/%Y %H:%M:%S')}}</small>
								{% endif %}
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<p class="title" data-section-title><a href="#">Updates</a></p>
					<div class="content" data-section-content>
						<div class="row">
							<div class="large-12 columns">
								<div id="status_updates_tab"></div>
								<div class="helptext">
								This section should be updated on a <b>monthly basis</b> – the written updates will be included in reports to senior management so need to be concise and meaningful.
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<p class="title" data-section-title><a href="#">Resources</a></p>
					<div class="content" data-section-content>
						<div class="row">
							<div class="large-6 columns">
								<h3 class="item-name-heading">{{ item.name }} </h3>
								<p><strong>Work Package Lead:</strong> <a href="#" id="leadPerson" data-type="select" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Lead Person">{{ item.leadPerson }}</a><br/>
								<strong>Estimated Resource:</strong> <a href="#" id="percentageFteEffort" data-type="text" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="% FTE Effort Expected">{{ item.percentageFteEffort }}</a>% FTE Effort
								<div id="calculatedEffort"></div>
								</p>
							</div>
							<div class="large-6 columns">
								<p>
								<strong>Add new person</strong><br/>
								{{ form.dropdown('addAllocation', user_name, people, class='small button') }}
								<a href="javascript:addAllocation();" class="small button">Add Person</a></p>
							</div>
							<div class="large-12 columns">
								<p><strong>Assignments (Mandays):</strong>
								<div id="workpackage_allocations_table"></div>
								<div class="helptext">
								<ol><li>Estimate the resource required as a percentage of a Full Time Equivalent (i.e. %FTE). So for example 100% can mean 1 person 100% of their time, or two people 50% of their time etc.</li> 
								    <li>Add the people doing the work to your work package. Individuals should add the days worked per month. If they are no longer working on a live work package, they should change the ‘person status’ to ‘ended’.</li></ol>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#">Deliverables</a></p>
					<div class="content" data-section-content>
						<h3 class="item-name-heading">{{ item.name }} </h3>
						<div class="row">
							<div class="large-12 columns">
								<p><strong>Deliverables: </strong>
								<div class="richeditable" id="deliverables">
								{% autoescape false %}
								{{ item.deliverables }}
								{% endautoescape %}
								</div></p>
								<div class="helptext">
								List the deliverables that will be produced during this work package with a brief statement 
								of what form they will each take, recipient of the deliverable, format, resources allocated
								against and timescales.
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#">Milestones</a></p>
					<div class="content" data-section-content>
						<h3 class="item-name-heading">{{ item.name }}</h3>
						<div class="row">
							<div class="large-12 columns">
								<p><strong>Milestones: </strong>
								<div class="richeditable" id="milestones">
								{% autoescape false %}
								{{ item.milestones }}
								{% endautoescape %}
								</div></p>
								<div class="helptext">
								List the key activities and milestones required to fulfil this work package. Define the
								reporting cycle and reporting line for the work package.
								List any programme milestones relating to the work package and how these link to the deliverables
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#">Risks</a></p>
					<div class="content" data-section-content>
						<h3 class="item-name-heading">{{ item.name }}</h3>
						<div class="row">
							<div class="large-12 columns">
								<p><strong>Risks: </strong>
								<div class="richeditable" id="risks">
								{% autoescape false %}
								{{ item.risks }}
								{% endautoescape %}
								</div></p>
								<div class="helptext">
								This should be a link to the project or programme risk register/log on SharePoint or Kahootz (where applicable). 
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#">Stakeholders</a></p>
					<div class="content" data-section-content>
						<h3 class="item-name-heading">{{ item.name }}</h3>
						<div class="row">
							<div class="large-12 columns">
								<p><strong>Stakeholders: </strong>
								<div class="richeditable" id="stakeholders">
								{% autoescape false %}
								{{ item.stakeholders }}
								{% endautoescape %}
								</div></p>
								<div class="helptext">
								List the key stakeholders that will be impacted by this work package, and their role related to the work package 
								<br/>Details should include:
								<ul><li>Name</li>
									<li>Organisation and Job title</li>
									<li>Role (related to the work package – e.g. requestor, sponsor, approver, recipient, SME, standards owner, National Clinical Lead)</li>
								</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#">Approvals</a></p>
					<div class="content" data-section-content>
						<h3 class="item-name-heading">{{ item.name }}</h3>
						<div class="row">
							<div class="large-12 columns">
								<p><strong>Approvals: </strong>
								<div class="richeditable" id="approvals">
								{% autoescape false %}
								{{ item.approvals }}
								{% endautoescape %}
								</div></p>
								<div class="helptext">
								Who needs to approve the work package definitions are fit for purpose and will sign-off that is complete
								<br/>Details should include:
								<ul><li>Approver name</li>
								<li>Organisation and Job title</li></ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#">Documents</a></p>
					<div class="content" data-section-content>
						<h3 class="item-name-heading">{{ item.name }} </h3>
			
						<p><a href="/export/{{ item.id }}/word" target="_blank" class="small button">Export to Word</a></p>
						<p><strong>Link to document repository:</strong> <a href="#" id="path" data-type="text" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Document Repository Link">{{ item.path }}</a></p>
						<p><strong>Link to business case (if one exists):</strong> <a href="#" id="businessCase" data-type="text" data-pk="1" data-url="/workpackages/saveitem/" data-original-title="Business Case Link">{{ item.businessCase }}</a></p>
					</div>				
				</section>
				<section>
					<p class="title" data-section-title><a href="#">History</a></p>
					<div class="content" data-section-content>
						<h3>Change History</h3>
						<div class="row">
							<div class="large-12 columns">
									<p><strong>History</strong></p>
									<div id="history">
										<table class="responsive">
											<tbody>
												<tr>
													<th>
														By
													</th>
													<th>
														Date
													</th>
													<th colspan="3">
														Changed
													</th>
												</tr>
												<tr>
													<th colspan="2"></th>
													<th>Field</th>
													<th>Change</th>
												</tr>
												{% for history in portfolioHistory%}
												   {% for change in history['changelog'] %}
													   <tr>
													   {% if loop.first %}
													   	<td>
													   		{{ history['changedBy'] }}		
													   	</td>
													   	<td>
													   		{{ history['updated'] }}		
													   	</td>
													   {% else %}
													    <td colspan="2">&nbsp;</td>
													   {% endif %}
												   		<td>{{ change['fieldName']}}</td>
													   	<td>{% autoescape false %}{{ change['diffValue']}}{% endautoescape %}</td>
													   </tr>
													{% endfor %}
												{% endfor %}
												
											</tbody>
										</table>
									</div><!-- end history div -->
							</div>
						</div>
					</div>
				</section>

			<script>
			    function refresh_page(response, newValue) { location.reload(); }
				$('#name').editable({params: { workpackageid : '{{ item.id }}' }, success: wp_name_change });
				$('#forecastStartDate').editable({params: { workpackageid : '{{ item.id }}' },
												  emptytext: 'Date when the work is expected to start',
												  success: wp_start_date_changed });
				$('#forecastEndDate').editable({params: { workpackageid : '{{ item.id }}' },
														  emptytext: 'Date when the work is expected to end',
														  success: wp_end_date_changed });
				$('#path').editable({params: { workpackageid : '{{ item.id }}' },
											   emptytext: 'Add a link to documents relating to the work package'
												});
				$('#businessCase').editable({params: { workpackageid : '{{ item.id }}' },
													   emptytext: 'Link to a business case (if one exists)'
													   });
				$('#percentageFteEffort').editable({params: { workpackageid : '{{ item.id }}' }, success: wp_effort_changed });
				$(function(){ $('#status').editable({ params: { workpackageid : '{{ item.id }}' }, value: '{{ item.status }}', source: '/workpackages/lists/status/'}); });
				$(function(){ $('#areaOfWork').editable({ params: { workpackageid : '{{ item.id }}' },
														  value: '{{ item.areaOfWork }}',
														  //emptytext: 'Choose from the drop down list to complete these sections',
														  source: '/workpackages/lists/areaOfWork/'}); });
				/*
				$(function(){ $('#portfolio').editable({ params: { workpackageid : '{{ item.id }}' },
														 value: '{{ item.portfolio }}',
														 //emptytext: 'Choose from the drop down list to complete these sections',
														 source: '/workpackages/lists/portfolio/'}); });
				*/
				$(function(){ $('#serviceType').editable({ params: { workpackageid : '{{ item.id }}' },
														   success: refresh_page,
														   value: '{{ item.serviceType }}',
														   //emptytext: 'Choose from the drop down list to complete these sections',
														   source: '/workpackages/lists/serviceType/'}); });
				$(function(){ $('#level1Type').editable({ params: { workpackageid : '{{ item.id }}' },
														  value: '{{ item.level1Type }}',
														  //emptytext: 'Choose from the drop down list to complete these sections',
														  source: '/workpackages/lists/level1Type/'}); });
				$(function(){ $('#level2Type').editable({ params: { workpackageid : '{{ item.id }}' },
														  value: '{{ item.level2Type }}',
														  //emptytext: 'Choose from the drop down list to complete these sections',
														  source: '/workpackages/lists/level2Type/'}); });
				$(function(){ $('#originator').editable({ params: { workpackageid : '{{ item.id }}' },
														  value: '{{ item.originator }}',
														  emptytext: 'The route this work package was requested through',
														  source: '/workpackages/lists/originator/'}); });
				//$(function(){ $('#lifecycleStage').editable({ params: { workpackageid : '{{ item.id }}' }, value: '{{ item.lifecycleStage }}', source: '/workpackages/lists/lifecycleStage/'}); });
				/*
				$(function(){ $('#portfolioOwner').editable({ params: { workpackageid : '{{ item.id }}' },
															  value: '{{ item.portfolioOwner }}',
															  //emptytext: 'Choose from the drop down list to complete these sections',
															  source: '/workpackages/lists/portfolioOwner/'}); });
				*/
				$(function(){ $('#leadPerson').editable({ params: { workpackageid : '{{ item.id }}' },
														  value: '{{ item.leadPerson }}',
														  emptytext: 'Select the individual within TAID who will lead delivery of the work package',
														  source: '/people/lists/name/'}); });
				
				$(function(){ $('#programme').editable({ params: { workpackageid : '{{ item.id }}' },
														 value: '{{ item.programme }}',
														 emptytext: 'Select the item this relates to from the Portfolio database (if applicable)',
														 source: '/workpackages/lists/programme/', 'submit_first_x_chars':8 });
													   });
			</script>
{% endblock %}
