{% extends "panel-base43.html" %}
{% import 'form.html' as form %}
{% block content %}
{% set lastAreaOfWork = "Unknown" %}
{% set portfolio = "Unknown" %}
{% set portfolioOwner = "Unknown" %}
{% if list|length > 0 %}
	{% set portfolio = list[0].portfolio %}
	{% set portfolioOwner = list[0].portfolioOwner %}
{% endif %}
{% set selectedPortfolio = request.args.get('portfolio') %}
{% set selectedStatus = request.args.get('status') %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<form id="filterform" action="/workpackages" method="GET">

				<section>
					<div class="content" data-section-content>
						<div class="row">
							<div class="large-4 columns hold">
								<p><a href="/workpackages/add/" class="small button success">New Work Package</a></p>
								<h3>Filters</h3>
								<div class="panel">

									<!-- <a href="/workpackages/?dq_filter=unallocated" class="small button success">Unallocated</a> -->
								    <input type="hidden" id="form_portfolio" name="portfolio" />
								    <input type="hidden" id="form_programme" name="programme" />
								    <input type="hidden" id="form_status" name="status" />
								    <input type="hidden" id="form_areaOfWork" name="areaOfWork" />
								    <input type="hidden" id="form_serviceType" name="serviceType" />
								    <input type="hidden" id="form_level1Type" name="level1Type" />
								    <input type="hidden" id="form_level2Type" name="level2Type" />
								    <input type="hidden" id="form_leadPerson" name="leadPerson" />
								    <input type="hidden" id="form_dq_filter" name="dq_filter" />
								    <dl class="filterFields">
								    <dt>Portfolio:</dt><dd><a href="#" id="portfolio" data-type="select" data-pk="1" data-original-title="Portfolio" data-showbuttons="false" data-emptytext="All">{{query_vals.portfolio}}</a></dd>
								    <dt>Programme:</dt><dd><a href="#" id="programme" data-type="SelectAH" data-pk="1" data-original-title="Programme" data-showbuttons="false" data-emptytext="All">{{query_vals.programme}}</a></dd>
									<dt>Status:</dt><dd><a href="#" id="status" data-type="select" data-pk="1" data-original-title="Status" data-showbuttons="false" data-emptytext="All">{{query_vals.status}}</a></dd>
									<dt>Domain:</dt><dd><a href="#" id="areaOfWork" data-type="select" data-pk="1" data-original-title="Domain" data-showbuttons="false" data-emptytext="All">{{query_vals.areaOfWork}}</a></dd>
									<dt>Service Type:</dt><dd><a href="#" id="serviceType" data-type="select" data-pk="1" data-original-title="Service Type" data-showbuttons="false" data-emptytext="All">{{query_vals.serviceType}}</a></dd>
									<dt>L1 Service Type:</dt><dd><a href="#" id="level1Type" data-type="select" data-pk="1" data-original-title="TAID Level 1 Service Type" data-showbuttons="false" data-emptytext="All">{{query_vals.level1Type}}</a></dd>
									<dt>L2 Service Type:</dt><dd><a href="#" id="level2Type" data-type="select" data-pk="1" data-original-title="TAID Level 2 Service Type" data-showbuttons="false" data-emptytext="All">{{query_vals.level2Type}}</a></dd>
									<dt>Lead Person:</dt><dd><a href="#" id="leadPerson" data-type="select" data-pk="1" data-original-title="Lead Person" data-showbuttons="false" data-emptytext="All">{{query_vals.leadPerson}}</a></dd>
									<dt>DQ Filter:</dt><dd><a href="#" id="dq_filter" data-type="select" data-pk="1" data-original-title="Data Quality Filter" data-showbuttons="false" data-emptytext="None">{{query_vals.dq_filter}}</a></dd>
									</dl>
									<p>
									<input type="button" class="small button" onclick="submit_filters()" value="Apply" />&nbsp;&nbsp;
									<input type="button" class="small button" onclick="clear_filters()" value="Clear" />&nbsp;&nbsp;&nbsp;&nbsp;
									</p>
								</div>
							</div>
							<div class="large-8 columns">
								<input type="button" class="small button rightaligned" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + window.location.pathname + 'csv/' + window.location.search)" value="Export" />
								<h3>Work Packages ({{ list|length }})</h3>
								<table width="100%" id="work_package_list">
								<thead>
									<tr>
										<th>Workpackage Name</th>
										<th>Domain</th>
									</tr>
								</thead>
								<tbody>
								{% for item in list %}
									<tr>
										<td><a href="/workpackages/{{ item.id }}">{{ item.name }}</a></td>
										{% if item.areaOfWork == "" %}
										<td><strong>Unknown</strong></td>
										{% else %}
										<td><strong>{{item.areaOfWork}}</strong></td>
										{% endif %}
									</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
				<script>
					$(function(){ $('#status').editable({ value: '{{query_vals.status}}', source: '/workpackages/lists/status/', success: status_change});});
					$(function(){ $('#areaOfWork').editable({ value: '{{query_vals.areaOfWork}}', source: '/workpackages/lists/areaOfWork/', success: areaOfWork_change}); });
					$(function(){ $('#portfolio').editable({ value: '{{query_vals.portfolio}}', source: '/workpackages/lists/portfolio/', success: portfolio_change}); });
					$(function(){ $('#serviceType').editable({ value: '{{query_vals.serviceType}}', source: '/workpackages/lists/serviceType/', success: serviceType_change}); });
					$(function(){ $('#level1Type').editable({ value: '{{query_vals.level1Type}}', source: '/workpackages/lists/level1Type/', success: level1Type_change}); });
					$(function(){ $('#level2Type').editable({ value: '{{query_vals.level2Type}}', source: '/workpackages/lists/level2Type/', success: level2Type_change}); });
					$(function(){ $('#leadPerson').editable({ value: '{{query_vals.leadPerson}}', source: '/people/lists/name/', success: leadPerson_change}); });
					$(function(){ $('#dq_filter').editable({ value: '{{query_vals.dq_filter}}', source: '/workpackages/lists/dq_filter/', success: dq_filter_change}); });
					$(function(){ $('#programme').editable({ value: '{{query_vals.programme}}', source: '/workpackages/lists/programme/', 'submit_first_x_chars':8, success: programme_change}); });
					
					
					function status_change(response, newValue) { add_clear_button('status') }
					function areaOfWork_change(response, newValue) { add_clear_button('areaOfWork') }
					function portfolio_change(response, newValue) { add_clear_button('portfolio') }
					function serviceType_change(response, newValue) { add_clear_button('serviceType') }
					function level1Type_change(response, newValue) { add_clear_button('level1Type') }
					function level2Type_change(response, newValue) { add_clear_button('level1Type') }
					function leadPerson_change(response, newValue) { add_clear_button('leadPerson') }
					function dq_filter_change(response, newValue) { add_clear_button('dq_filter') }
					function programme_change(response, newValue) { add_clear_button('programme') }
					
					var filter_fields = ['status','areaOfWork','portfolio','programme','serviceType','level1Type','level2Type','leadPerson','dq_filter'];
					
					function submit_filters() {
						for (var i = 0; i < filter_fields.length; i++) {
							field = filter_fields[i];
							$('#form_'+field).val($('#'+field).editable('getValue', true));
						}
						$( "#filterform" ).submit();
					}
					function clear_filters() {
						$('#form_status').val('');
						$('#form_areaOfWork').val('');
						$('#form_portfolio').val('');
						$('#form_programme').val('');
						$('#form_serviceType').val('');
						$('#form_level1Type').val('');
						$('#form_level2Type').val('');
						$('#form_leadPerson').val('');
						$('#form_dq_filter').val('');
						$( "#filterform" ).submit();
					}
					function clear_field(field_id) {
						$('#'+field_id).editable('setValue', '');
						$('#clear_'+field_id).remove();
					}
					function add_clear_button(field_id) {
						if ($('#clear_'+field_id).length == 0) {
							$('#'+field_id).after( "<span id='clear_" + field_id + "'> (<a href='#' onclick='clear_field(\"" + field_id + "\")'>X</a>)</span>" );
						}
					}
					$(document).ready(function() {
						for (var i = 0; i < filter_fields.length; i++) {
							field = filter_fields[i];
							val = $('#'+field).editable('getValue', true)
							if (val.length > 0) {
								add_clear_button(field);
							}
						}
						
						$('#work_package_list').DataTable({
							"bPaginate": false
						});
					})
				</script>
</form>
{% endblock %}
