<h2>Work package status updates</h2>
<h3>{{item.name}}</h3>
<div id="status_updates_table">
<table width="100%">
<tr class="header">
	<th>Date</th>
	<th>By</th>
	<th style="width:80%">Status Updates</th>
	<th>Reported</th>	
</tr>
<tr>
	<td>New</td>
	<td>{{user}}</td>
	<td><a class="editable editable-click expand" href="#" id="newStatusUpdate" data-type="textarea" data-pk="1" data-url="/workpackages/addupdate/" data-original-title="% this period" style="display: inline;">Click to add</a>
	</td>
	<td>&nbsp;</td>
</tr>
{% for update in item.StatusUpdates %}
{% if update.date!=None %}
<tr>
	<td>{{update.date.strftime('%d/%m/%Y %H:%M:%S')}}</td>
	<td>{{update.author}}</td>
	<td>{{update['update']}}</td>
	<td>
	{% for tag in update.report_tags %}
	<li>{{ tag }}</li>
	{% endfor %}
	</td>
</tr>
{% endif %}
{% endfor %}
</table>
</div>
<script>
$('#newStatusUpdate').editable({params: { workpackageid : '{{ item.id }}' }, success: closeModal });
function closeModal(response, newValue) {
	$('#updateModal').foundation('reveal', 'close');
	//refresh_allocations_table();
	//refresh_status_report_table_same_month();
	refresh_after_status_update_modal_closed('{{ item.id }}', newValue);
}
</script>
<a class="close-reveal-modal">&#215;</a>