.percentageCell { text-align: center }
.colour30 { background-color: #FF0000 }

/*Original CSS:*/
.colour29 { background-color: #FF1100 }
.colour28 { background-color: #FF2200 }
.colour27 { background-color: #FF3300 }
.colour26 { background-color: #FF4400 }
.colour25 { background-color: #FF5500 }
.colour24 { background-color: #FF6600 }
.colour23 { background-color: #FF7700 }
.colour22 { background-color: #FF8800 }
.colour21 { background-color: #FF9900 }
.colour20 { background-color: #FFAA00 }
.colour19 { background-color: #FFBB00 }
.colour18 { background-color: #FFCC00 }
.colour17 { background-color: #FFDD00 }
.colour16 { background-color: #FFEE00 }
.colour15 { background-color: #FFFF00 }
.colour14 { background-color: #EEFF00 }
.colour13 { background-color: #DDFF00 }
.colour12 { background-color: #CCFF00 }
.colour11 { background-color: #BBFF00 }
.colour10 { background-color: #AAFF00 }
.colour9 { background-color: #99FF00 }
.colour8 { background-color: #88FF00 }
.colour7 { background-color: #77FF00 }
.colour6 { background-color: #66FF00 }
.colour5 { background-color: #55FF00 }
.colour4 { background-color: #44FF00 }
.colour3 { background-color: #33FF00 }
.colour2 { background-color: #22FF00 }
.colour1 { background-color: #11FF00 }
.colour0 { background-color: #00FF00 }

/*
Shaun's suggested CSS:
.colour29, .colour28 { background-color: #FFFF00 }
.colour27, .colour26 { background-color: #EEFF00 }
.colour25, .colour24 { background-color: #DDFF00 }
.colour23, .colour22 { background-color: #CCFF00 }
.colour21, .colour20 { background-color: #BBFF00 }
.colour19, .colour18 { background-color: #AAFF00 }
.colour17, .colour16 { background-color: #99FF00 }
.colour15, .colour14 { background-color: #88FF00 }
.colour13, .colour12 { background-color: #77FF00 }
.colour11, .colour10 { background-color: #66FF00 }
.colour9, .colour8 { background-color: #55FF00 }
.colour7, .colour6 { background-color: #44FF00 }
.colour5, .colour4 { background-color: #33FF00 }
.colour3, .colour2 { background-color: #22FF00 }
.colour1 { background-color: #11FF00 }
.colour0 { background-color: #00FF00 }
*/

/*
Will suggested CSS:
.colour0, .colour1, .colour2, .colour3, .colour4, .colour5, .colour6, .colour7, .colour8, .colour9, .colour10, .colour11, .colour12, .colour13, .colour14, .colour15 {
background-color: #00aa00 !important;
}
.colour16, .colour17, .colour18, .colour19, .colour20, .colour21, .colour22, .colour23, .colour24, .colour25 {
background-color: #008000 !important;
}
.colour26,.colour27,.colour28,.colour29 {
background-color:#ffdd00 !important;
}
.colour30 {
background-color:#ff0000 !important;
}
*/
