/* Site wide */
a {
	color: #2ba6cb;
	text-decoration: none;
	line-height: inherit;
}


/* Top menu */

.top-bar .name h1 a { 
	width: 70%;
	padding: 0;
}
.top-bar.expanded {
	margin-bottom: 4px;
}
.top-bar, .top-bar li, .top-bar-section, .top-bar-section ul, .top-bar-section ul li, .top-bar-section ul li a, .top-bar.expanded .title-area {
	/*background: #1e728c;*/
	background: #003350;
	color: #fff;
}
.top-bar-section ul li.active a, .top-bar-section ul li a:hover {
	background: #2ba6cb;
}
.top-bar li a {
	color: #fff;
	text-decoration: none;
}
.top-bar-section ul {
	padding: 0;
}
.top-bar-section ul li a {
	border-bottom: 1px solid #ccc;
}

.top-bar {
	margin-bottom: 0em;
}

@media only screen and (min-width: 58.75em) {	
	.hold {
		position:fixed;
	}
	.top-bar-section li a:not(.button) {	
		background: #003350;
		padding: 0 10px;
		border-right: 1px solid #ccc;
		border-bottom: 0;
	}
	.top-bar-section li.active a:not(.button) {	
		border-right: 1px solid #003350;
	}
}
@media only screen and (max-width: 58.75em) {
	.top-bar-section ul li > a {
		font-size: 1em;
		padding: 6px 0 6px 40px;
	}
}
/* Tabs */
.section-container.tabs section, .section-container.tabs section.active {
	padding-top: 55px !important;
}
.section-container.tabs section p.title {
	height: 41px;
}
.section-container.tabs section p.title a {
	text-decoration: none;
}

.row {
  max-width: 100%;
}

.filterFields dd {
	display: inline-block;
	width: 60%;
	margin: 0;
}
.filterFields dt {
	display: inline-block;
	width: 40%;
	margin: 0;
}

/* Admin */
.pending {
	color: #fff;
	background: #c00;
	width: 10px;
	padding: 0px 4px;
	border-radius: 3px;
	top: -6px;
	left: -2px;
	position: relative;
}

div.richeditable {
	border-bottom: dashed 1px #0088cc;
}

.totalRow td {
	/*background: #2ba6cb;
	color: white;*/
	font-weight: bold;
	border-bottom-color: #003350;
	border-bottom-style: double;
	border-top-width: thin;
	border-top-color: #003350;
	border-top-style: solid;
}

.percentfte, .workingDays {
	color: #808080;
}

.hasDatepicker {
	width: 180px !important;
    display: inline-block !important;
    margin-right: 10px !important;
}

.rightaligned {
	float: right;
    margin-top: 10px;
}

/* Status update modal styling */
#updateModal .editableform {
	width: 90% !important;
}
#updateModal .editable-container div {
	width: 100% !important;
}
#updateModal .editable-container {
	width: 100% !important;
}
#updateModal {
	height: 80%;
}
#updateModal #status_updates_table {
	height: 80%;
	overflow: hidden;
	overflow-y: auto;
}

table tbody tr:nth-child(even) > td.lastMonth,  table tbody tr:nth-child(even) > th.lastMonth, table tr:nth-of-type(even) > th.lastMonth {
background: #cccccc;
}

/* JQuery datatable styles */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('/static/img/pivot/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/static/img/pivot/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/static/img/pivot/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/static/img/images/pivot/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/static/img/images/pivot/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
  outline: none;
}

.statusupdatedate {
	color: grey;
}

.diff del { background:#FF6666; }
.diff ins { background:#66FF66; }
.diff .tagdiff_replaced { background:#66CCFF; }

div.dataTables_filter label {
	float: none !important;
}

#programme_table tr.closed td {
  color: red;
}

div.helptext {
	color: #015088;
	font-style: italic;
}

ol, ul {
    padding: 0 25px;
}
ol li, ul li {
    padding-left: 0px;
}